<template>
    <div>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">点球总数</span>
            <span class="expand-value">{{ row.shooterPenaltyTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">助攻总数</span>
            <span class="expand-value">{{ row.assistsTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">射门总数</span>
            <span class="expand-value">{{ row.shootTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">传球总数</span>
            <span class="expand-value">{{ row.passTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">传球成功率</span>
            <span class="expand-value">{{ row.passingSuccessRate }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">抢断总数</span>
            <span class="expand-value">{{ row.stealTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">解围总数</span>
            <span class="expand-value">{{ row.rescueTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">扑救总数</span>
            <span class="expand-value">{{ row.saveTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">替换上场次数</span>
            <span class="expand-value">{{ row.replaceBeforeTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">替换下场次数</span>
            <span class="expand-value">{{ row.replaceAfterTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">击中门框总数</span>
            <span class="expand-value">{{ row.hitdoorTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">头球进球总数</span>
            <span class="expand-value">{{ row.headerGoalTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">任意球进球总数</span>
            <span class="expand-value">{{ row.freeKickTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">越位总数</span>
            <span class="expand-value">{{ row.offsideTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">触球次数</span>
            <span class="expand-value">{{ row.toubchBallTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">直塞总数</span>
            <span class="expand-value">{{ row.straitPlugTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">传中总数</span>
            <span class="expand-value">{{ row.passInTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">角球总数</span>
            <span class="expand-value">{{ row.cornerKickTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">封堵总数</span>
            <span class="expand-value">{{ row.pluggingTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">拦截总数</span>
            <span class="expand-value">{{ row.interceptionTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">头球解围总数</span>
            <span class="expand-value">{{ row.headerClearanceTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">争抢成功总数</span>
            <span class="expand-value">{{ row.strivingSuccessTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">乌龙球总数</span>
            <span class="expand-value">{{ row.ownGoalsTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">失误丢球总数</span>
            <span class="expand-value">{{ row.missBallTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">被罚点球总数</span>
            <span class="expand-value">{{ row.penalizedPenaltyTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">犯规次数</span>
            <span class="expand-value">{{ row.foulTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">零分场次数</span>
            <span class="expand-value">{{ row.zeroClosuresTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">失球数</span>
            <span class="expand-value">{{ row.concededTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">扑出点球数</span>
            <span class="expand-value">{{ row.savePeanaltyTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">手击球数</span>
            <span class="expand-value">{{ row.handHittingTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">伤停场次</span>
            <span class="expand-value">{{ row.injuryAppearTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">伤停原因：</span>
            <span class="expand-value">{{ row.injuryReason }}</span>
            </Col>
        </Row>
    </div>
</template>

<script>
    export default {
        name: 'player-listPlus',
        props: {
            row: Object
        }
    };
</script>

<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>