<style lang="less">
    @import '../../../styles/common.less';
    @import '../components/table.less';
</style>

<template>
    <div>
        <Row class="margin-top-10">
            <Col span="25">
            <Card>
                <p slot="title">
                    球员排行
                </p>

                <Row>
                    <span class="margin-left-15">球员姓名：</span>
                    <Input v-model="searchCondition.playerName" placeholder="请输入球员姓名" clearable style="width: 120px" />
                    <span class="margin-left-15">&nbsp;&nbsp;&nbsp;赛季：</span>
                    <Input v-model="searchCondition.playListTime" placeholder="请输入赛季" clearable style="width: 120px" />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;联赛：</span>
                    <Select v-model="searchCondition.leagueId" clearable style="width: 120px"
                            @on-clear="clearLeagueStatus">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;球队：</span>
                    <Select v-model="searchCondition.teamId" clearable style="width: 120px" @on-clear="clearTeamStatus">
                        <Option v-for="item in AllTeam" :value="item.id" :key="item.id">
                            {{ item.teamName }}
                        </Option>
                    </Select>

                    <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByParam">
                        搜索
                    </Button>
                    <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>

                </Row>

                <Row>
                    <Row class="margin-top-10">
                        <can-edit-table v-model="playerListData" :columns-list="playerListColumns"></can-edit-table>
                    </Row>
                    <Button type="primary" class="margin-top-10" icon="plus" @click="add">新增</Button>
                    <Page :total="totalNum" :current="pageNum" :page-size="pageSize"
                          @on-change="handlePage"
                          @on-page-size-change='handlePageSize' show-sizer style="float: right"
                          class="margin-top-10"></Page>
                </Row>
            </Card>
            </Col>
        </Row>

        <Modal
                title="球员榜信息"
                v-model="playerListModel"
                :mask-closable="false"
                :loading="loading"
                @on-ok="playerListOk('playerListForm')"
                @on-cancel="playerListCancel"
                width="1000">
            <Form ref="playerListForm" :model="playerListForm" :label-width="100">
                <Row>
                <Col span="6">
                <FormItem label="球员姓名:" prop="playerName">
                    <Input v-model="playerListForm.playerName" placeholder="请输入球员姓名"/>
                </FormItem>
                </Col>
                <Col span="6">
                <FormItem label="选择联赛:" prop="leagueId">
                    <Select v-model="playerListForm.leagueId">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>
                </FormItem>
                </Col>
                <Col span="10">
                <FormItem label="球员头像">
                    <Upload
                            ref="uploadPic"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :on-format-error="uploadFromatError"
                            :on-success="uploadSuccess"
                            :max-size="2048"
                            :on-exceeded-size="uploadMaxSize"
                            :on-error="uploadError"
                            :on-remove="removeFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">上传球员头像</Button>
                    </Upload>
                </FormItem>
                </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="选择球队:" prop="teamId">
                        <Select v-model="playerListForm.teamId">
                            <Option v-for="item in AllTeam" :value="item.id" :key="item.id">
                                {{ item.teamName }}
                            </Option>
                        </Select>
                    </FormItem>
                    </Col>
                    <Col span="10">
                    <FormItem label="选择赛季:" prop="playListTime">
                        <DatePicker type="year" style="width: 100px;" placeholder="选择时间"
                                    v-model="playerListForm.playListTime"></DatePicker>
                        <label>注：选择2000年，即为2000/01赛季</label>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="点球总数:" prop="shooterPenaltyTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.shooterPenaltyTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="助攻总数:" prop="assistsTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.assistsTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="射门总数:" prop="shootTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.shootTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="射中总数:" prop="shootingTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.shootingTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="传中总数:" prop="passInTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.passInTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="传球总数:" prop="passTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.passTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="传球成功率:" prop="passingSuccessRate">
                        <InputNumber :max="0.99" :min="0" :step="0.01"
                                     v-model="playerListForm.passingSuccessRate"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="抢断总数:" prop="stealTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.stealTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="解围总数:" prop="rescueTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.rescueTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="扑救总数:" prop="saveTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.saveTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="黄牌总数:" prop="yellowCardTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.yellowCardTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="红牌总数:" prop="redCardTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.redCardTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="出场次数:" prop="apearTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.apearTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="出场时间:" prop="apearTimeTotal">
                        <InputNumber :max="50000" :min="0" v-model="playerListForm.apearTimeTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="替换上场次数:" prop="replaceBeforeTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.replaceBeforeTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="替换下场次数:" prop="replaceAfterTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.replaceAfterTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="击中门框总数:" prop="hitdoorTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.hitdoorTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="头球进球总数:" prop="headerGoalTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.headerGoalTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="点球进球总数:" prop="penaltyGoalTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.penaltyGoalTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="任意球进球总数:" prop="freeKickTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.freeKickTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="越位总数:" prop="offsideTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.offsideTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="触球次数:" prop="toubchBallTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.toubchBallTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="直塞总数:" prop="straitPlugTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.straitPlugTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="角球总数:" prop="cornerKickTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.cornerKickTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="封堵总数:" prop="pluggingTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.pluggingTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>

                    <Col span="6">
                    <FormItem label="拦截总数:" prop="interceptionTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.interceptionTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="头球解围总数:" prop="headerClearanceTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.headerClearanceTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="争抢成功总数:" prop="strivingSuccessTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.strivingSuccessTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="乌龙球总数:" prop="ownGoalsTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.ownGoalsTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="失误丢球总数:" prop="missBallTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.missBallTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="被罚点球总数:" prop="penalizedPenaltyTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.penalizedPenaltyTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="犯规次数:" prop="foulTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.foulTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="零分场次数:" prop="zeroClosuresTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.zeroClosuresTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="失球总数:" prop="concededTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.concededTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="扑出点球总数:" prop="savePeanaltyTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.savePeanaltyTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="手击球数:" prop="handHittingTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.handHittingTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="伤停出场:" prop="injuryAppearTotal">
                        <InputNumber :max="500" :min="0" v-model="playerListForm.injuryAppearTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="20">
                    <FormItem label="伤停原因:" prop="injuryReason">
                        <Input v-model="playerListForm.injuryReason" placeholder="请输入伤停原因"/>
                    </FormItem>
                    </Col>
                </Row>
            </Form>
        </Modal>

    </div>
</template>

<script>
    import playerPlus from '../player-list/player-listPlus.vue';
    import canEditTable from '../components/canEditTable.vue';
    import axios from 'axios';

    export default {
        name: 'player-list',
        components: {playerPlus, canEditTable},
        data () {
            return {
                playerListData: [],
                totalNum: 50,
                pageNum: 1,
                pageSize: 10,
                playerListModel: false,
                loading: true,
                AllTeam: [],
                leagueNameList: [],
                searchCondition: {pageNum: 1, pageSize: 10, playListTime: '', playerName: '', leagueId: '', teamId: ''},
                playerListForm:
                    {
                        id: '',
                        teamId: '',
                        leagueId: '',
                        playListTime: '',
                        playerName: '',
                        playerHead: '',
                        shooterPenaltyTotal: 0,
                        assistsTotal: 0,
                        injuryReason: '',
                        injuryAppearTotal: 0,
                        shootTotal: 0,
                        shootingTotal: 0,
                        passTotal: 0,
                        passingSuccessRate: 0,
                        stealTotal: 0,
                        rescueTotal: 0,
                        saveTotal: 0,
                        yellowCardTotal: 0,
                        redCardTotal: 0,
                        apearTotal: 0,
                        apearTimeTotal: 0,
                        replaceBeforeTotal: 0,
                        replaceAfterTotal: 0,
                        hitdoorTotal: 0,
                        headerGoalTotal: 0,
                        penaltyGoalTotal: 0,
                        freeKickTotal: 0,
                        offsideTotal: 0,
                        toubchBallTotal: 0,
                        straitPlugTotal: 0,
                        passInTotal: 0,
                        cornerKickTotal: 0,
                        pluggingTotal: 0,
                        interceptionTotal: 0,
                        headerClearanceTotal: 0,
                        strivingSuccessTotal: 0,
                        ownGoalsTotal: 0,
                        missBallTotal: 0,
                        penalizedPenaltyTotal: 0,
                        foulTotal: 0,
                        zeroClosuresTotal: 0,
                        concededTotal: 0,
                        savePeanaltyTotal: 0,
                        handHittingTotal: 0
                    },
                playerListColumns: [
                    {type: 'expand',
                        width: 50,
                        render: (h, params) => {
                            return h(playerPlus, {props: {row: params.row}});
                        }},
                    {title: '球员姓名', align: 'center', key: 'playerName'},
                    {title: '赛季', align: 'center', key: 'playListTime'},
                    {title: '所属联赛',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.league.leagueName)
                            ]);
                        }},
                    {title: '球队名称',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.fkteam.teamName)
                            ]);
                        }},
                    {title: '球员头像',
                        align: 'center',
                        render: (h, params) => {
                            return h('Avatar', {
                                attrs: {
                                    'src': params.row.playerHead,
                                    'icon': 'ios-football'
                                }
                            });
                        }},
                    {title: '射中总数', align: 'center', key: 'shootingTotal'},
                    {title: '黄牌总数', align: 'center', key: 'yellowCardTotal'},
                    {title: '红牌总数', align: 'center', key: 'redCardTotal'},
                    {title: '出场次数', align: 'center', key: 'apearTotal'},
                    {title: '出场时间', align: 'center', key: 'apearTimeTotal'},
                    {
                        title: '操作',
                        align: 'center',
                        width: 200,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.remove(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')])
                            ]);
                        }
                    }
                ]
            };
        },
        methods: {
            edit (index) {
                this.playerListForm = this.playerListData[index];
                this.playerListModel = true;
            },
            remove (index) {
                axios.post('api/fk/admin/playerList/remove', {id: this.playerListData[index].id}).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功');
                    }
                    this.playerListData.splice(index, 1);
                });
            },
            add () {
                this.$refs['playerListForm'].resetFields();
                this.playerListModel = true;
            },
            playerListOk (name) {
                setTimeout(() => {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    });
                }, 100);
                if (this.playerListForm.playerName === '') { this.$Message.error('请输入球员姓名'); return false; }
                if (this.playerListForm.leagueId === '') { this.$Message.error('请选择联赛'); return false; }
                if (this.playerListForm.teamId === '') { this.$Message.error('请选择球队'); return false; }
                if (this.playerListForm.playListTime === '') { this.$Message.error('请输入赛季'); return false; }
                let mid = this.playerListForm.playListTime.getFullYear() + 1;
                this.playerListForm.playListTime = this.playerListForm.playListTime.getFullYear() + '/' + (mid + '').substring(2, 4);
                this.$refs[name].validate((valid) => {
                    let param = {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    };
                    if (valid) {
                        if (this.playerListForm.id !== '') {
                            axios.post('api/fk/admin/playerList/updatePlayerFroList', this.playerListForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('更新成功!');
                                    this.playerListModel = false;
                                    this.getDataByCondition(param);
                                }
                            });
                        } else {
                            axios.post('api/fk/admin/playerList/addPlayerForList', this.playerListForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('添加成功!');
                                    this.playerListModel = false;
                                    this.getDataByCondition(param);
                                }
                            });
                        }
                    }
                });
            },
            playerListCancel () {},
            handlePage (pageNum) {
                this.pageNum = pageNum;
                axios.post('api/fk/admin/playerList/getByPage', {
                    pageNum: this.pageNum,
                    pageSize: this.pageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.playerListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            handlePageSize (pageSize) {
                this.pageSize = pageSize;
                axios.post('api/fk/admin/playerList/getByPage', {
                    pageNum: this.pageNum,
                    pageSize: this.pageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.playerListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            uploadMaxSize (file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFromatError (file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccess (event, file) {
                this.playerListForm.playerHead = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadError (event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUpload (file) {
                const check = this.$refs.uploadPic.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张轮播大图。'});
                }
                return check;
            },
            removeFromUploadList (file) {
                this.playerListForm.playerHead = '';
            },
            getDataByCondition (param) {
                axios.post('api/fk/admin/playerList/getByPage', param).then((res) => {
                    if (res.data.status === 200) {
                        this.playerListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            clearTeamStatus () {
                this.searchCondition.teamId = '';
            },
            clearLeagueStatus () {
                this.searchCondition.leagueId = '';
            },
            searchByParam () {
                this.getDataByCondition(this.searchCondition);
            },
            resetSearchCondition () {
                this.searchCondition.playerName = '';
                this.searchCondition.playListTime = '';
                this.clearTeamStatus();
                this.clearLeagueStatus();
                this.getDataByCondition(this.searchCondition);
            }
        },
        mounted () {
            let param = {
                pageNum: this.pageNum,
                pageSize: this.pageSize
            };
            this.getDataByCondition(param);
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    res.data.body.forEach((item, index) => {
                        this.leagueNameList.push({key: item.id, value: item.leagueName});
                    });
                }
            });
            axios.post('api/fk/admin/team/getAllTeam').then((res) => {
                if (res.data.status === 200) {
                    this.AllTeam = res.data.body;
                }
            });
        }
    };
</script>