<template>
    <Row>
        <Col span="23" style="margin: 25px">
            <Card>
                <p slot="title">赛程管理</p>
                <!--搜索框-->
                <Row>
                    <span>比赛名称:</span>
                    <Input v-model="searchCondition.sgameName" placeholder="请输入比赛名称" style="width: 120px"></Input>
                    <span class="margin-left-15">比赛种类:</span>
                    <Input v-model="searchCondition.sgameKind" placeholder="请输入比赛种类" style="width: 120px"></Input>
                    <span class="margin-left-15">所属联赛:</span>
                    <Select v-model="searchCondition.sleagueId" clearable style="width:120px">
                        <Option :value="item.id" v-for="item in AllLeague" :key="item.id">{{item.leagueName}}</Option>
                    </Select>
                    <Button @click="search" type="primary" style="width: 60px" class="margin-left-15">搜索</Button>
                    <Button @click="restore" type="ghost" style="width: 60px">重置</Button>
                </Row>
                <!--表格-->
                <Row class="margin-top-10">
                    <!--<Table border :columns="Gamescolumn" :data="gamesData"></Table>-->
                    <can-edit-table v-model="gamesData" :hover-show="true"
                                    :columns-list="Gamescolumn"></can-edit-table>
                </Row>
                <!--底部-->
                <Row class="margin-top-10">
                    <!--添加按钮-->
                    <Col span="12">
                        <Button type="primary" icon="plus" @click="modalClick">添加赛程</Button>
                        <Modal
                                v-model="modal1"
                                title="添加赛程"
                                :loading="loading"
                                @on-ok="ok('formValidate')"
                                @on-cancel="cancel">
                            <Row>
                                <Form ref="formValidate" :model="formValidate" :label-width="80" :rules="ruleValidate">
                                    <FormItem label="比赛名称" prop="gameName">
                                        <Input v-model="formValidate.gameName" placeholder="请输入比赛名称" />
                                    </FormItem>
                                    <!--<FormItem label="描述" prop="gameDescription">-->
                                        <!--<Input v-model="formValidate.gameDescription" type="textarea" placeholder="请输入描述" />-->
                                    <!--</FormItem>-->
                                    <FormItem label="日期时间">
                                        <Row>
                                            <Col span="11">
                                                <FormItem>
                                                    <DatePicker @on-change="getDate" :value="formValidate.gameDate" type="date" placeholder="请选择日期"></DatePicker>
                                                </FormItem>
                                            </Col>
                                            <Col span="2" style="text-align: center">-</Col>
                                            <Col span="11">
                                                <FormItem>
                                                    <TimePicker @on-change="getTime" :value="formValidate.gameTime" type="time" format="HH:mm" placeholder="请选择时间"></TimePicker>
                                                </FormItem>
                                            </Col>
                                        </Row>
                                    </FormItem>
                                    <Row>
                                        <Col span="8">
                                            <FormItem label="主队" prop="gameTeamMainId">
                                                <Select v-model="formValidate.gameTeamMainId" placeholder="主队">
                                                    <Option :value="item.id" v-for="item in allTeam" :key="item.id">{{item.teamName}}</Option>
                                                </Select>
                                            </FormItem>
                                        </Col>
                                        <Col span="8">
                                            <FormItem label="客队" prop="gameTeamVisiterId">
                                                <Select v-model="formValidate.gameTeamVisiterId" placeholder="客队">
                                                    <Option :value="item.id" v-for="item in allTeam" :key="item.id">{{item.teamName}}</Option>
                                                </Select>
                                            </FormItem>
                                        </Col>
                                        <Col span="8">
                                            <FormItem label="比分" prop="gameScore">
                                                <Input v-model="formValidate.gameScore" placeholder="可不填" />
                                            </FormItem>
                                        </Col>
                                    </Row>
                                    <Row>
                                        <Col span="8">
                                            <FormItem label="所属联赛" prop="leagueId">
                                                <Select v-model="formValidate.leagueId" placeholder="选择联赛">
                                                    <Option :value="item.id" v-for="item in AllLeague" :key="item.id">{{item.leagueName}}</Option>
                                                </Select>
                                            </FormItem>
                                        </Col>
                                        <Col span="8">
                                            <FormItem label="比赛种类" prop="gameKind">
                                                <Input v-model="formValidate.gameKind" placeholder="比赛种类" />
                                            </FormItem>
                                        </Col>
                                        <Col span="8">
                                            <FormItem label="场次" prop="gameSession">
                                                <Input v-model="formValidate.gameSession" placeholder="场次" />
                                            </FormItem>
                                        </Col>
                                    </Row>
                                </Form>
                            </Row>
                        </Modal>

                    </Col>
                    <!--分页组件-->
                    <Col span="12">
                        <Page style="float: right" show-sizer
                              :total="totalNum"
                              @on-change="changePageNum"
                              @on-page-size-change="changePageSize"
                        ></Page>
                    </Col>
                </Row>
            </Card>

        </Col>
    </Row>
</template>

<script>
    import axios from 'axios';
    import canEditTable from './components/canEditTable';

    export default {
        components: {canEditTable},
        name: 'games',
        data () {
            return {
                // 搜索条件
                searchCondition: {
                    pageNum: 1,
                    pageSize: 10,
                    sgameName: '',
                    sleagueId: '',
                    sgameKind: ''
                },
                totalNum: 0,
                // 添加界面属性值
                modal1: false,
                // 对话框手动关闭
                loading: true,
                // 联赛数据
                AllLeague: [],
                allTeam: [],
                // 表格属性
                Gamescolumn: [
                    {
                        title: '比赛名称',
                        key: 'gameName',
                        align: 'center'
                    },
                    // {
                    //     title: '描述',
                    //     key: 'gameDescription',
                    //     align: 'center'
                    // },
                    {
                        title: '比赛时间',
                        key: 'gameDatetime',
                        align: 'center'
                    },
                    {
                        title: '联赛',
                        // key: 'leagueId',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.league.leagueIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.league.leagueName)
                            ]);
                        }

                    },
                    {
                        title: '主队',
                        // key: 'gameTeamMainId',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.mainTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.mainTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '客队',
                        // key: 'gameTeamVisiterId',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.visiterTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.visiterTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '比分',
                        key: 'gameScore',
                        align: 'center'
                    },
                    {
                        title: '比赛种类',
                        key: 'gameKind',
                        align: 'center'
                    },
                    {
                        title: '场次',
                        key: 'gameSession',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 150,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确定删除?',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.deleteGame(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    }
                                }, '删除')])

                            ]);
                        }
                    }
                ],
                // 表格数据
                gamesData: [],
                // 表单数据
                formValidate: {
                    id: '',
                    gameName: '',
                    gameDescription: '',
                    gameDatetime: '',
                    gameDate: '',
                    gameTime: '',
                    leagueId: '',
                    gameTeamMainId: '',
                    gameTeamVisiterId: '',
                    gameScore: '',
                    gameKind: '',
                    gameSession: ''
                },
                // 验证规则
                ruleValidate: {
                    gameName: [
                        {required: true, message: '请输入比赛名称'}
                    ],
                    gameDescription: [
                        {required: true, message: '请输入描述'}
                    ],
                    gameDate: [
                        {required: true, message: '请选择日期'}
                    ],
                    gameTime: [
                        {required: true, message: '请选择时间'}
                    ],
                    leagueId: [
                        {required: true, message: '请选择联赛'}
                    ],
                    gameTeamMainId: [
                        {required: true, message: '请输入主队'}
                    ],
                    gameTeamVisiterId: [
                        {required: true, message: '请选择客队'}
                    ]
                }
            };
        },
        methods: {
            // 获取时间
            getDate (date) {
                this.formValidate.gameDate = date;
            },
            // 获取日期
            getTime (time) {
                this.formValidate.gameTime = time;
            },
            // 搜索
            search () {
                this.searchCondition.pageNum = 1;
                this.searchCondition.pageSize = 10;
                this.getAllGames(this.searchCondition);
            },
            // 重置
            restore () {
                this.searchCondition.sgameKind = '';
                this.searchCondition.sgameName = '';
                this.searchCondition.sleagueId = '';
            },
            // 确认删除
            deleteGame (index) {
                axios.post('api/fk/admin/games/deleteGame', {id: this.gamesData[index].id}).then((res) => {
                    if (res.data.status == 200) {
                        this.$Message.success('删除成功');
                        this.gamesData.splice(index, 1);
                    }
                });
            },
            // 新增按钮点击
            modalClick () {
                this.$refs['formValidate'].resetFields();
                this.formValidate.id = '';
                this.formValidate.gameTime = '';
                this.formValidate.gameDate = '';
                this.modal1 = true;
            },
            // 编辑
            edit (index) {
                this.formValidate = this.gamesData[index];
                this.modal1 = true;
            },
            // 添加赛程模态框按钮
            ok (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.modal1 = false;
                        if (this.formValidate.id != '') {
                            axios.post('api/fk/admin/games/updateGame', this.formValidate).then((res) => {
                                if (res.data.status == 200) {
                                    this.$Message.success('更新成功');
                                    this.modal1 = false;
                                    this.getAllGames(this.searchCondition);
                                }
                            });
                        } else {
                            // 保存数据
                            axios.post('api/fk/admin/games/addGame', this.formValidate).then((res) => {
                                if (res.data.status == 200) {
                                    this.$Message.success('添加成功');
                                    this.modal1 = false;
                                    this.getAllGames(this.searchCondition);
                                }
                            });
                        }
                    } else {
                        // 验证失败禁止提交
                        this.loading = false;
                        setTimeout(() => {
                            this.loading = true;
                        }, 10);
                    }
                });
            },
            cancel () {
                this.$Message.info('您没有进行任何操作');
                // this.$refs['formValidate'].resetFields();
            },
            // 改变页码
            changePageNum (param) {
                this.searchCondition.pageNum = param;
                this.getAllGames(this.searchCondition);
            },
            // 改变页大小
            changePageSize (param) {
                this.searchCondition.pageSize = param;
                this.getAllGames(this.searchCondition);
            },
            getAllGames (params) {
                // 获取赛程数据
                axios.post('api/fk/admin/games/getAllGames', params).then((res) => {
                    if (res.data.status == 200) {
                        this.gamesData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            }
        },
        created () {
            this.getAllGames(this.searchCondition);
            // 获取联赛数据
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status == 200) {
                    this.AllLeague = res.data.body;
                }
            });

            // 获取球队数据
            axios.post('api/fk/admin/team/getAllTeam').then((res) => {
                if (res.data.status == 200) {
                    this.allTeam = res.data.body;
                }
            });
        }

    };
</script>

<style scoped>
    @import '../../../styles/common.less';
    @import './components/table.less';
</style>