<style lang="less">
    @import '../../styles/common.less';
    @import './components/table.less';
</style>

<template>
    <div>
        <Row class="margin-top-10">
            <Col span="23" style="margin: 25px">
                <Card>
                    <p slot="title">
                        直播列表
                    </p>
                    <Row>
                        <span>状态:</span>
                        <Select v-model="searchCondition.delFlag" clearable style="width:120px;"
                                @on-clear="clearLiveStatus">
                            <Option v-for="item in delFlags" :value="item.value" :key="item.value">{{ item.label }}
                            </Option>
                        </Select>

                        <span class="margin-left-15"> 是否轮播:</span>
                        <Select style="width:120px;" v-model="importantLiveSelect" clearable
                                @on-change="changeImportantLive"
                                @on-clear="clearImportantLive">
                            <Option v-for="item in specialFlags" :value="item.value" :key="item.value">{{ item.label }}
                            </Option>
                        </Select>

                        <span class="margin-left-15"> 所属联赛:</span>
                        <Select v-model="searchCondition.leagueId" style="width:120px;" clearable
                                @on-clear="clearBelongLeague">
                            <Option v-for="item in AllLeague" :value="item.id" :key="item.id">{{ item.leagueName }}
                            </Option>
                        </Select>

                        <span class="margin-left-15">  直播标题:</span>
                        <Input v-model="searchCondition.liveName" placeholder="请输入直播标题" clearable
                               style="width: 120px"></Input>
                        <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByCondition">
                            搜索
                        </Button>
                        <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>
                    </Row>
                    <Row class="margin-top-10">
                        <can-edit-table v-model="AllLiveData" :hover-show="true"
                                        :columns-list="AllLiveColumns">
                        </can-edit-table>
                        <Button type="primary" class="margin-top-10" icon="plus" @click="addLive">添加直播</Button>
                        <Page :total="liveTotalNum" :current="searchCondition.livePageNum"
                              :page-size="searchCondition.livePageSize"
                              @on-change="handleLivePage"
                              @on-page-size-change='handleLivePageSize' show-sizer style="float: right"
                              class="margin-top-10"></Page>
                    </Row>
                </Card>
            </Col>
        </Row>

        <Modal
                title="直播信息"
                v-model="liveModel"
                :mask-closable="false"
                :loading="loading"
                @on-ok="liveInfoOk('liveInfoForm')"
                @on-cancel="liveInfoCancel">
            <Form ref="liveInfoForm" :model="liveInfoForm" :rules="liveRuleCustom" :label-width="80">
                <FormItem label="直播标题" prop="liveName">
                    <Input v-model="liveInfoForm.liveName" placeholder="请输入直播标题"></Input>
                </FormItem>
                <Row>
                    <Col span="11">
                        <FormItem label="直播状态" prop="liveStatus">
                            <Select v-model="liveInfoForm.liveStatus" filterable>
                                <Option v-for="item in AllLiveStatus" :value="item.title" :key="item.title">{{
                                    item.title }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                    <Col span="13">
                        <FormItem label="比分" prop="liveSecondName">
                            <Row>
                                <Col span="11">
                                    <Input v-model="mark1" placeholder="主队得分"></Input>
                                </Col>
                                <Col span="2" style="font-family:bold">
                                     &nbsp;-
                                </Col>
                                <Col span="11">
                                    <Input v-model="mark2" placeholder="客队得分"></Input>
                                </Col>
                            </Row>
                        </FormItem>
                    </Col>
                </Row>
                <FormItem label="直播时间">
                    <Row>
                        <Col span="11">

                            <FormItem prop="liveDate">
                                <DatePicker type="date" @on-change="onChangeTime" placeholder="选择日期" v-model="liveInfoForm.liveDate"></DatePicker>
                            </FormItem>

                        </Col>
                        <Col span="2" style="text-align: center">-</Col>
                        <Col span="11">
                            <FormItem prop="liveTime">
                                <TimePicker type="time" format="HH:mm" placeholder="选择时间"
                                            v-model="liveInfoForm.liveTime"></TimePicker>
                            </FormItem>
                        </Col>
                    </Row>
                </FormItem>

                <Row>
                    <Col span="8">
                        <FormItem label="所属联赛" prop="leagueId">
                            <Select v-model="liveInfoForm.leagueId" filterable>
                                <Option v-for="item in AllLeague" :value="item.id" :key="item.id">{{ item.leagueName }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="主队" prop="liveTeamMainId">
                            <Select v-model="liveInfoForm.liveTeamMainId" filterable>
                                <Option v-for="item in AllTeam" :value="item.id" :key="item.id">{{ item.teamName }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="客队" prop="liveTeamVisiterId">
                            <Select v-model="liveInfoForm.liveTeamVisiterId" filterable>
                                <Option v-for="item in AllTeam" :value="item.id" :key="item.id">{{ item.teamName }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>

                </Row>


                <!--<FormItem label="直播来源" prop="liveSource">
                    <Input v-model="liveInfoForm.liveSource" placeholder="请输入视频来源"></Input>
                </FormItem>
                <FormItem label="直播链接" prop="liveUrl">
                    <Input v-model="liveInfoForm.liveUrl" placeholder="请输入直播链接"></Input>
                </FormItem>-->
                <FormItem
                        v-for="(item, index) in liveInfoForm.lives"
                        label="视频源">
                    <Row>
                        <Col span="6">
                            <Input type="text" v-model="item.liveSource" placeholder="请输入视频源"></Input>
                        </Col>
                        <Col span="13" offset="1">
                            <Input type="text" v-model="item.liveUrl" placeholder="请输入视频链接"></Input>
                        </Col>
                        <Col span="3" offset="1">
                            <Button @click="handleRemove(index)">删除</Button>
                        </Col>
                    </Row>
                </FormItem>
                <FormItem>
                    <Row>
                        <Col span="12">
                            <Button type="dashed" long @click="handleAdd" icon="md-add">增加视频源</Button>
                        </Col>
                    </Row>
                </FormItem>


                <FormItem label="直播简介" prop="remarks">
                    <Input v-model="liveInfoForm.remarks" type="textarea" :autosize="{minRows: 2,maxRows: 5}"
                           placeholder="请输入直播概述"></Input>
                </FormItem>
                <FormItem label="右上角话术" prop="ad">
                    <Input v-model="liveInfoForm.ad" placeholder="直播页面右上角话术"></Input>
                </FormItem>
                <Row>
                    <!--<Col span="8">
                        <FormItem label="是否放置世界杯直播栏">
                            <i-switch v-model="liveInfoForm.importantWorldCupFlag" @on-change="importantWorldCupFlagchange">
                                <span slot="open">On</span>
                                <span slot="close">Off</span>
                            </i-switch>
                        </FormItem>
                    </Col>-->
                    <Col span="8">
                        <FormItem label="是否推荐">
                            <i-switch v-model="liveInfoForm.recommendedLiveFlag">
                                <span slot="open">On</span>
                                <span slot="close">Off</span>
                            </i-switch>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="是否轮播">
                            <i-switch v-model="liveInfoForm.importantLiveFlag" @on-change="importantLiveFlagchange">
                                <span slot="open">On</span>
                                <span slot="close">Off</span>
                            </i-switch>
                        </FormItem>
                    </Col>
                </Row>
                <FormItem label="轮播栏大图" v-show="liveInfoForm.importantLiveFlag">
                    <Upload
                            ref="uploadLiveBigPic"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :on-format-error="uploadFormatError"
                            :on-success="uploadLiveBigPicSuccess"
                            :on-error="uploadError"
                            :on-remove="removeFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">上传轮播大图</Button>
                    </Upload>
                </FormItem>
            </Form>
        </Modal>
    </div>
</template>

<script>
    import canEditTable from './components/canEditTable.vue';
    import axios from 'axios';

    export default {
        name: 'live',
        components: {
            canEditTable
        },
        data() {
            return {
                mark1: null,
                mark2:null,
                liveModel: false,
                liveInfoForm: {
                    id: '',
                    liveName: '',
                    liveSecondName: '',
                    liveDate: '',
                    liveTime: '',
                    liveTeamMainId: '',
                    liveTeamVisiterId: '',
                    liveSource: '',
                    liveStatus: '',
                    liveUrl: '',
                    leagueId: '',
                    remarks: '',
                    ad: '',
                    importantWorldCupFlag: false,
                    recommendedLiveFlag: false,
                    importantLiveFlag: true,
                    liveBigPic: '',
                    delFlag: '0',
                    lives: [
                        {
                            liveSource: '',
                            liveUrl: '',
                            index: 1,
                        }
                    ]
                },
                loading: true,
                importantLiveSelect: '',
                liveRuleCustom: {
                    liveName: [
                        {required: true, message: '直播标题不能为空', trigger: 'blur'}
                    ],
                    liveDate: [
                        {required: true, type: 'date', message: '直播日期不能为空', trigger: 'change'}
                    ],
                    liveTime: [
                        {required: true, type: 'string', message: '直播时间不能为空', trigger: 'change'}
                    ],
                    liveTeamMainId: [
                        {required: true, message: '主队不能为空', trigger: 'change'}
                    ],
                    liveTeamVisiterId: [
                        {required: true, message: '客队不能为空', trigger: 'change'}
                    ],
                    leagueId: [
                        {required: true, message: '联赛不能为空', trigger: 'change'}
                    ],
                    liveStatus: [
                        {required: true, type: 'string', message: '直播状态', trigger: 'change'}
                    ]
                },
                AllLiveStatus: [
                    {
                        title: '未赛',
                        key: '未赛'
                    },
                    {
                        title: '直播中',
                        key: '直播中'
                    },
                    {
                        title: '完赛',
                        key: '完赛'
                    },],
                AllLiveData: [],
                AllImportantLive: [],
                AllImportantWorldCupLive: [],
                AllRecommendedLive: [],
                AllLiveColumns: [
                    {
                        title: '直播标题',
                        key: 'liveName'
                    },
                    {
                        title: '主队',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.mainTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.mainTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '客队',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.visiterTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.visiterTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '直播时间',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.liveDate + ' ' + params.row.liveTime)
                            ]);
                        }
                    },
                    {
                        title: '状态',
                        key: 'delFlag',
                        width: 130,
                        render: (h, params) => {
                            const row = this.AllLiveData[params.index];
                            const color = row.delFlag === '0' ? 'green' : 'red';
                            const text = row.delFlag === '0' ? '已激活' : '已隐藏';
                            return h('Tag', {
                                props: {
                                    type: 'dot',
                                    color: color
                                }
                            }, text);
                        }
                    },
                    {
                        title: '操作',
                        width: 250,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editLive(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: this.AllLiveData[params.index].delFlag === '0' ? 'warning' : 'info'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.changeLiveStatus(params.index);
                                        }
                                    }
                                }, this.AllLiveData[params.index].delFlag === '0' ? '隐藏' : '激活'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeLive(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')])
                            ]);
                        }
                    }
                ],
                liveTotalNum: 50,
                AllTeam: [],
                AllLeague: [],
                searchCondition: {
                    livePageNum: 1,
                    livePageSize: 10,
                    leagueId: '',
                    delFlag: '',
                    liveName: '',
                    importantLiveFlag: '',
                    importantWorldCupFlag: '',
                    recommendedLiveFlag: ''
                },
                delFlags: [
                    {
                        value: '0',
                        label: '只显示已激活'
                    },
                    {
                        value: '1',
                        label: '只显示已隐藏'
                    }
                ],
                specialFlags: [
                    {
                        value: 'recommendedLiveFlag',
                        label: '只显示推荐直播'
                    },
                    {
                        value: 'importantLiveFlag',
                        label: '只显示轮播栏位直播'
                    }
                ]
            };
        },
        methods: {
            handleAdd () {
                this.liveInfoForm.lives.push({
                    liveUrl: '',
                    liveSource:''
                });
            },
            handleRemove (index) {
                this.liveInfoForm.lives.splice(index,1)
            },
            /* importantWorldCupFlagchange(e) {
                console.log(e)
                if (e === true) {
                    this.liveInfoForm.recommendedLiveFlag = false
                    this.liveInfoForm.importantLiveFlag = false
                }
            },
            recommendedLiveFlagchange(e) {
                if (e === true) {
                    this.liveInfoForm.importantWorldCupFlag = false
                    this.liveInfoForm.importantLiveFlag = false
                }
            }, */
            importantLiveFlagchange(e) {
                this.liveInfoForm.importantWorldCupFlag = e;
            },
            liveInfoOk(name) {
                let param = {
                    livePageNum: this.searchCondition.livePageNum,
                    livePageSize: this.searchCondition.livePageSize
                };
                if (this.mark1&&this.mark2){
                    this.liveInfoForm.liveSecondName=this.mark1+" - "+this.mark2
                }
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        if (this.liveInfoForm.id !== '') {
                            axios.post('api/fk/admin/live/updateLive', this.liveInfoForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('更新成功!');
                                    this.liveModel = false;
                                    this.axiosGetLiveByPageAndExample(this.searchCondition);
                                }
                            });
                        } else {
                            axios.post('api/fk/admin/live/addLive', this.liveInfoForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('添加成功!');
                                    this.liveModel = false;
                                    this.axiosGetLiveByPageAndExample(this.searchCondition);
                                }
                            });
                        }
                    } else {
                        this.$Message.error('保存直播信息失败!');
                        setTimeout(() => {
                            this.loading = false;
                            this.$nextTick(() => {
                                this.loading = true;
                            });
                        }, 2000);
                    }
                });
            },
            onChangeTime(time) {
                this.liveInfoForm.liveDate=new Date(time);
                console.log(time);
                console.log(this.liveInfoForm.liveDate);
            },
            liveInfoCancel() {
                this.$Message.info('你没有做任何操作!');
            },
            editLive(index) {
                this.liveInfoForm = this.AllLiveData[index];
                this.mark1=(this.liveInfoForm.liveSecondName===null?null:this.liveInfoForm.liveSecondName.replace(/\ +/g,'').split('-')[0]);
                this.mark2=(this.liveInfoForm.liveSecondName===null?null:this.liveInfoForm.liveSecondName.replace(/\ +/g,'').split('-')[1]);
                this.liveInfoForm.liveDate=new Date(this.liveInfoForm.liveDate);
                this.liveInfoForm.importantLiveFlag = (this.liveInfoForm.importantLiveFlag === '1' ? true : (this.liveInfoForm.importantLiveFlag === '0' ? false : this.liveInfoForm.importantLiveFlag));
                this.liveInfoForm.importantWorldCupFlag = (this.liveInfoForm.importantWorldCupFlag === '1' ? true : (this.liveInfoForm.importantWorldCupFlag === '0' ? false : this.liveInfoForm.importantWorldCupFlag));
                this.liveInfoForm.recommendedLiveFlag = (this.liveInfoForm.recommendedLiveFlag === '1' ? true : (this.liveInfoForm.recommendedLiveFlag === '0' ? false : this.liveInfoForm.recommendedLiveFlag));
                this.liveModel = true;
            },
            removeLive(index) {
                axios.post('api/fk/admin/live/deleteLive', {id: this.AllLiveData[index].id}).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功!');
                        this.AllLiveData.splice(index, 1);
                    }
                });
            },
            addLive() {
                this.$refs['liveInfoForm'].resetFields();
                this.liveInfoForm.id = "";
                this.liveInfoForm.lives=[];
                this.liveInfoForm.importantWorldCupFlag = false;
                this.liveInfoForm.recommendedLiveFlag = false;
                this.liveInfoForm.importantLiveFlag = false;
                this.mark2=null;
                this.mark1=null;
                this.$refs.uploadLiveBigPic.clearFiles();
                this.liveModel = true;
            },
            changeLiveStatus(index) {
                let param = {
                    livePageNum: this.searchCondition.livePageNum,
                    livePageSize: this.searchCondition.livePageSize
                };
                this.liveInfoForm.delFlag = this.liveInfoForm.delFlag === '0' ? '1' : '0';
                axios.post('api/fk/admin/live/changeLiveStatus', {
                    id: this.AllLiveData[index].id,
                    importantLiveFlag: this.AllLiveData[index].importantLiveFlag,
                    importantWorldCupFlag: this.AllLiveData[index].importantWorldCupFlag,
                    delFlag: this.AllLiveData[index].delFlag === '0' ? '1' : '0'
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('更新状态成功!');
                        this.axiosGetLiveByPageAndExample(param);
                    }
                });
            },
            handleLivePage(livePageNum) {
                this.searchCondition.livePageNum = livePageNum;
                this.axiosGetLiveByPageAndExample(this.searchCondition);
            },
            handleLivePageSize(livePageSize) {
                this.searchCondition.livePageSize = livePageSize;
                this.axiosGetLiveByPageAndExample(this.searchCondition);
            },
            removeFromUploadList(file) {
                this.liveInfoForm.liveBigPic = '';
            },
            uploadError(event, file) {
                console.log('uploadFail:' + event);
                this.$Notice.error({
                    title: '文件上传失败'
                });
            },
            beforeUpload(file) {
                const check = (this.$refs.uploadLiveBigPic.fileList.length < 1) && (this.$refs.uploadLiveBigPic.fileList.length < 1);
                if (!check) {
                    this.$Notice.warning({
                        title: '最多只能上传 1 张图片。'
                    });
                }
                return check;
            },
            uploadFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '文件格式不正确，请选择图片文件。'
                });
            },
            uploadLiveBigPicSuccess(event, file) {
                this.liveInfoForm.liveBigPic = event.body;
                this.$Notice.success({
                    title: '文件上传成功'
                });
            },
            axiosGetLiveByPageAndExample(postData) {
                axios.post('api/fk/admin/live/getLiveByPageAndExample', postData).then((res) => {
                    if (res.data.status === 200) {
                        this.AllLiveData = res.data.body;
                        this.AllLiveData.forEach((item)=>{
                            if (item.liveUrl!==undefined&&item.liveUrl!==null) {
                                item.lives=JSON.parse(item.liveUrl);
                            }else {
                                item.lives=[]
                            }
                            item.liveUrl=''
                        });
                        this.liveTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            resetSearchCondition() {
                this.clearBelongLeague();
                this.searchCondition.liveName = '';
                this.clearLiveStatus();
                this.clearImportantLive();
                this.importantLiveSelect = '';
                this.searchByCondition();
            },
            searchByCondition() {
                this.searchCondition.livePageNum = 1;
                this.searchCondition.livePageSize = 10;
                this.axiosGetLiveByPageAndExample(this.searchCondition);
            },
            changeImportantLive(liveFlag) {
                switch (liveFlag) {
                    case 'importantWorldCupFlag':
                        this.searchCondition.importantLiveFlag = '';
                        this.searchCondition.importantWorldCupFlag = '1';
                        this.searchCondition.recommendedLiveFlag = '';
                        break;
                    case 'importantLiveFlag':
                        this.searchCondition.importantLiveFlag = '1';
                        this.searchCondition.importantWorldCupFlag = '';
                        this.searchCondition.recommendedLiveFlag = '';
                        break;
                    case 'recommendedLiveFlag':
                        this.searchCondition.importantLiveFlag = '';
                        this.searchCondition.importantWorldCupFlag = '';
                        this.searchCondition.recommendedLiveFlag = '1';
                        break;
                    default:
                        this.searchCondition.importantLiveFlag = '';
                        this.searchCondition.importantWorldCupFlag = '';
                        this.searchCondition.recommendedLiveFlag = '';
                }
            },
            clearImportantLive() {
                this.searchCondition.importantLiveFlag = '';
                this.searchCondition.importantWorldCupFlag = '';
                this.searchCondition.recommendedLiveFlag = '';
            },
            clearBelongLeague() {
                this.searchCondition.leagueId = '';
            },
            clearLiveStatus() {
                this.searchCondition.delFlag = '';
            }
        },
        mounted() {
            const postData1 = {
                livePageNum: this.searchCondition.livePageNum,
                livePageSize: this.searchCondition.livePageSize
            };
            axios.post('api/fk/admin/team/getAllTeam').then((res) => {
                if (res.data.status === 200) {
                    this.AllTeam = res.data.body;
                }
            });
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    this.AllLeague = res.data.body;
                }
            });
            this.axiosGetLiveByPageAndExample(postData1);
        }
    };
</script>
