<template>
    <div>
        <Row class="expand-row">
            <Col span="8">
                <span class="expand-key">直播标题: </span>
                <span class="expand-value">{{ row.liveName }}</span>
            </Col>
            <Col span="8">
                <span class="expand-key">小标题: </span>
                <span class="expand-value">{{ row.liveSecondName }}</span>
            </Col>
            <Col span="8">
                <span class="expand-key">直播时间: </span>
                <span class="expand-value">{{ row.liveDate }}&nbsp;&nbsp;{{ row.liveTime }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="8">
                <span class="expand-key">所属联赛: </span>
                <span class="expand-value">{{ row.league.leagueName }}</span>
            </Col>
            <Col span="8">
                <span class="expand-key">主队: </span>
                <span class="expand-value">{{ row.mainTeam.teamName }}</span>
            </Col>
            <Col span="8">
                <span class="expand-key">客队: </span>
                <span class="expand-value">{{ row.visiterTeam.teamName }}</span>
            </Col>
        </Row>
        <Row>
            <Col span="24">
                <span class="expand-key">直播链接: </span>
                <span class="expand-value">{{ row.liveUrl }}</span>
            </Col>
        </Row>
    </div>
</template>

<script>
    export default {
        name: 'table-expand',
        props: {
            row: Object
        }
    };
</script>

<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>