<style lang="less">
    @import '../../styles/common.less';
    @import './viewNews.less';
</style>


<template>
    <Row class="margin-top-20">
        <Col span="12" offset="5">
        <div style="margin-left: auto;margin-right: auto;">
            <Card>
                <h1>{{ newsTitle }}</h1>
                <p class="preview-publish-time"><Icon type="android-alarm-clock"></Icon>&nbsp;发布时间：{{ createDate }}</p>
                <div class="preview-tags-con">
                    <b class="preview-tip"><Icon type="ios-pricetags-outline"></Icon>&nbsp;标签：</b><Tag v-model="newsDescription" type="border" color="blue">{{ newsDescription }}</Tag>
                </div>
                <div class="preview-content-con" v-html="newsContent"></div>
            </Card>
        </div>
        </Col>
    </Row>
</template>

<script>
    export default {
        data () {
            return {
                newsTitle: '',
                createDate: '',
                newsDescription: '',
                // classificationSelected: [],
                newsContent: ''
                // publishTime: ''
            };
        },
        mounted () {
            this.newsTitle = localStorage.newsTitle;
            this.createDate = localStorage.createDate;
            this.newsDescription = localStorage.newsDescription;
            this.newsContent = localStorage.newsContent;
        }
    };
</script>