<style lang="less">
    @import '../../../styles/common.less';
    @import './components/table.less';
</style>

<template>
    <div>
        <Row class="margin-top-10">
            <Col span="25">
            <Card>
                <p slot="title">
                    新闻列表
                </p>

                <Row>
                    <span class="margin-left-15">新闻标记：</span>
                    <Input v-model="searchCondition.newsDescription" placeholder="请输入新闻标记" clearable style="width: 120px" />
                    <!--<span>&nbsp;&nbsp;&nbsp;&nbsp;类型：</span>
                    <Select v-model="searchCondition.newsType" clearable style="width: 120px" @on-clear="clearNewsStatus">
                        <Option v-for="item in newsTypes" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>-->
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;联赛：</span>
                    <Select v-model="searchCondition.leagueId" clearable style="width: 120px" @on-clear="clearLeagueStatus">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>

                    <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByCondition">
                        搜索
                    </Button>
                    <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>

                </Row>

                <Row class="margin-top-10">
                    <can-edit-table v-model="newsData" :columns-list="newsColumns"></can-edit-table>
                    <Button type="primary" class="margin-top-10" icon="plus" @click="addNews">新增新闻</Button>
                    <Page :total="newsTotalNum" :current="newsPageNum" :page-size="newsPageSize"
                          @on-change="handleNewsPage"
                          @on-page-size-change='handleNewsPageSize' show-sizer
                          style="float: right"
                          class="margin-top-10"></Page>
                </Row>
            </Card>
            </Col>
        </Row>

        <Modal title="新闻信息"
               v-model="newsModels"
               :mask-closable="false"
               :loading="loading"
               @on-ok="newsClicks('newsFroms')"
               @on-cancel="newInfoCancel()">
            <Form ref="newsFroms" :model="newsFroms" :rules="newRuless" :label-width="80">
                <FormItem label="新闻标题" prop="newsTitle">
                    <Input v-model="newsFroms.newsTitle" placeholder="请输入新闻标题"/>
                </FormItem>
                <FormItem label="新闻标记" prop="newsDescription">
                    <Input v-model="newsFroms.newsDescription" placeholder="请输入新闻标题"/>
                </FormItem>
                <FormItem label="选择联赛" prop="leagueId">
                    <Select v-model="newsFroms.leagueId">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>
                </FormItem>
                <Row>
                    <Col span="7">
                    <FormItem label="推荐新闻">
                        <i-switch v-model="newsFroms.recommendedNewsFlag">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                    <Col span="7">
                    <FormItem label="轮播新闻">
                        <i-switch v-model="newsFroms.importantNewsFlag">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                    <!--<Col span="7">
                    <FormItem label="世界杯新闻">
                        <i-switch v-model="newsFroms.importantWorldCupFlag" @on-change="changeThree">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>-->
                </Row>
                <!--<Row>
                    <Col span="7">
                    <FormItem label="轮播图栏位">
                        <i-switch v-model="showPlay">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                </Row>-->
                <FormItem label="首页大图" v-show="newsFroms.importantNewsFlag">
                    <Upload
                            ref="uploadNewsBigPic"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :on-format-error="uploadFormatError"
                            :on-success="uploadNewsBigPicSuccess"
                            :max-size="2048"
                            :on-exceeded-size="uploadMaxSize"
                            :on-error="uploadError"
                            :on-remove="removeFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">首页轮播图</Button>
                    </Upload>
                </FormItem>
            </Form>
            </Form>
        </Modal>

        <!--<Modal
                title="新闻信息"
                v-model="newsModel"
                :mask-closable="false"
                :loading="loading"
                @on-ok="newsClick('newsFrom')"
                @on-cancel="newInfoCancel">
            <Form ref="newsFrom" :model="newsFrom" :rules="newRules" :label-width="80">
                <FormItem label="新闻标题" prop="newsTitle">
                    <Input v-model="newsFrom.newsTitle" placeholder="请输入新闻标题"/>
                </FormItem>
                <FormItem label="新闻标记" prop="newsDescription">
                    <Input v-model="newsFrom.newsDescription" placeholder="请输入新闻标题"/>
                </FormItem>
                <FormItem label="选择联赛" prop="leagueId">
                    <Select v-model="newsFrom.leagueId">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>
                </FormItem>
                <FormItem label="新闻链接" prop="newsUrl">
                    <Input v-model="newsFrom.newsUrl" placeholder="请输入新闻链接"/>
                </FormItem>
                <Row>
                    <Col span="7">
                    <FormItem label="推荐新闻">
                        <i-switch v-model="newsFrom.recommendedNewsFlag">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                    <Col span="7">
                    <FormItem label="重要新闻">
                        <i-switch v-model="newsFrom.importantNewsFlag">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                    <Col span="7">
                    <FormItem label="世界杯新闻">
                        <i-switch v-model="newsFrom.importantWorldCupFlag">
                            <span slot="open">On</span>
                            <span slot="close">Off</span>
                        </i-switch>
                    </FormItem>
                    </Col>
                </Row>
                <FormItem label="轮播大图">
                    <Upload
                            ref="uploadNewsBigPic"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :on-format-error="uploadFormatError"
                            :on-success="uploadNewsBigPicSuccess"
                            :max-size="2048"
                            :on-exceeded-size="uploadMaxSize"
                            :on-error="uploadError"
                            :on-remove="removeFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">上传轮播大图</Button>
                    </Upload>
                </FormItem>
            </Form>
        </Modal>-->

    </div>
</template>

<script>
    import axios from 'axios';
    import canEditTable from './components/canEditTable.vue';

    export default {
        name: 'newsList_index',
        components: {canEditTable},
        data () {
            return {
                newsTotalNum: 50,
                newsPageNum: 1,
                newsPageSize: 10,
                newsData: [],
                leagueNameList: [],
                newsModels: false,
                showPlay: false,
                /* newsFrom: {
                    id: '',
                    newsTitle: '',
                    leagueId: '',
                    newsUrl: '',
                    importantWorldCupFlag: '',
                    recommendedNewsFlag: '',
                    importantNewsFlag: '',
                    newsDescription: '',
                    newsBigPic: ''
                }, */
                newsFroms: {
                    id: '',
                    newsTitle: '',
                    leagueId: '',
                    // importantWorldCupFlag: '',
                    recommendedNewsFlag: '',
                    importantNewsFlag: '',
                    newsDescription: '',
                    newsBigPic: ''
                },
                searchCondition: {
                    newsPageNum: 1,
                    newsPageSize: 10,
                    leagueId: '',
                    newsDescription: '',
                    newsType: ''
                },
                /* newsTypes: [
                    { value: '0', label: '原创' },
                    { value: '1', label: '引用' }
                ], */
                loading: true,
                /* newRules: {
                    newsTitle: [
                        {required: true, message: '新闻标题不能为空', trigger: 'blur'}
                    ],
                    leagueId: [
                        {required: true, message: '请选择联赛', trigger: 'blur'}
                    ],
                    newsUrl: [
                        {required: true, message: '新闻链接不能为空', trigger: 'blur'}
                    ],
                    newsDescription: [
                        {required: true, message: '新闻标记不能为空', trigger: 'blur'}
                    ]
                }, */
                newRuless: {
                    newsTitle: [
                        {required: true, message: '新闻标题不能为空', trigger: 'blur'}
                    ],
                    leagueId: [
                        {required: true, message: '请选择联赛', trigger: 'blur'}
                    ],
                    newsDescription: [
                        {required: true, message: '新闻标记不能为空', trigger: 'blur'}
                    ]
                },
                newsColumns: [
                    {title: '新闻标题', align: 'center', key: 'newsTitle', editable: true},
                    {title: '新闻标记', align: 'center', width: 120, key: 'newsDescription', editable: true},
                    {
                        title: '联赛',
                        align: 'center',
                        width: 80,
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.league.leagueName)
                            ]);
                        }
                    },
                    /* {
                        title: 'URL', align: 'center', render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.newsUrl === null ? '--' : params.row.newsUrl)
                            ]);
                        }
                    }, */
                    {title: '创建时间', align: 'center', key: 'createDate', width: 150, editable: true},
                    /* {
                        title: '类型', align: 'center', width: 70, render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.newsUrl === null ? '原创' : '引用')
                            ]);
                        }
                    }, */
                    {
                        title: '推荐新闻',
                        align: 'center',
                        width: 90,
                        key: 'recommendedNewsFlag',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.recommendedNewsFlag === '1' ? '已标记' : '未标记')
                            ]);
                        }
                    },
                    {
                        title: '轮播新闻',
                        align: 'center',
                        width: 90,
                        key: 'importantNewsFlag',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.importantNewsFlag === '1' ? '已标记' : '未标记')
                            ]);
                        }
                    },
                    /* {
                        title: '世界杯新闻',
                        align: 'center',
                        width: 100,
                        key: 'importantWorldCupFlag',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.importantWorldCupFlag === '1' ? '已标记' : '未标记')
                            ]);
                        }
                    }, */
                    {
                        title: '操作',
                        align: 'center',
                        width: 250,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editNews(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeNews(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')]),
                                h('Button', {
                                    props: {
                                        type: 'info'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.viewNews(params.index);
                                        }
                                    }
                                }, '查看新闻')
                            ]);
                        }
                    }
                ]
            };
        },
        methods: {
            addNews (index) {
                /* this.newsFrom.importantWorldCupFlag = false;
                this.newsFrom.recommendedNewsFlag = false;
                this.newsFrom.importantNewsFlag = false;
                this.newsFrom.newsTitle = '';
                this.newsFrom.newsUrl = '';
                this.newsFrom.newsDescription = '';
                this.newsFrom.leagueId = '';
                this.$refs.uploadNewsBigPic.clearFiles();
                this.newsModel = true; */
                this.$router.push({
                    name: 'newsManager_index'
                });
            },
            editNews (index) {
                this.$router.push({
                    name: 'newsManager_index', params: { id: this.newsData[index].id }
                });
                return;
                if (this.newsFroms.importantNewsFlag === '1') {
                    this.newsFroms.importantNewsFlag = true;
                } else if (this.newsFroms.importantNewsFlag === '0') {
                    this.newsFroms.importantNewsFlag = false;
                } else {
                    this.newsFroms.importantNewsFlag ? this.newsFroms.importantNewsFlag = true : this.newsFroms.importantNewsFlag = false;
                }
                /* if(this.newsFroms.importantWorldCupFlag === '1') {
                    this.newsFroms.importantWorldCupFlag = true;
                } else if(this.newsFroms.importantWorldCupFlag === '0'){
                    this.newsFroms.importantWorldCupFlag = false;
                } else {
                    this.newsFroms.importantWorldCupFlag?this.newsFroms.importantWorldCupFlag=true:this.newsFroms.importantWorldCupFlag=false;
                } */
                if (this.newsFroms.recommendedNewsFlag === '1') {
                    this.newsFroms.recommendedNewsFlag = true;
                } else if (this.newsFroms.recommendedNewsFlag === '0') {
                    this.newsFroms.recommendedNewsFlag = false;
                } else {
                    this.newsFroms.recommendedNewsFlag ? this.newsFroms.recommendedNewsFlag = true : this.newsFroms.recommendedNewsFlag = false;
                }

                this.newsModels = true;
                /* axios.post('api/fk/admin/newsManager/getNewById',{id:this.newsFroms.id}).then((res) => {
                    if(res.data.status === 200) {
                        this.newsFroms.importantWorldCupFlag = res.data.body.importantWorldCupFlag;
                        this.newsFroms.recommendedLiveFlag = res.data.body.recommendedLiveFlag;
                        this.newsFroms.importantLiveFlag = res.data.body.importantLiveFlag;
                    }
                }); */
                /* this.newsFrom = this.newsData[index];
                if (this.newsFrom.newsUrl !== null) {
                    if(this.newsFrom.importantNewsFlag === '1') {
                        this.newsFrom.importantNewsFlag = true;
                    } else {
                        this.newsFrom.importantNewsFlag === '0'? this.newsFrom.importantNewsFlag = false:this.newsFrom.importantNewsFlag = true;
                    }
                    if(this.newsFrom.importantWorldCupFlag === '1') {
                        this.newsFrom.importantWorldCupFlag = true;
                    } else {
                        this.newsFrom.importantWorldCupFlag === '0'? this.newsFrom.importantWorldCupFlag = false:this.newsFrom.importantWorldCupFlag = true;
                    }
                    if(this.newsFrom.recommendedNewsFlag === '1') {
                        this.newsFrom.recommendedNewsFlag = true;
                    } else {
                        this.newsFrom.recommendedNewsFlag === '0'? this.newsFrom.recommendedNewsFlag = false:this.newsFrom.recommendedNewsFlag = true;
                    }
                    this.newsModel = true;
                } else { */
                /* } */
            },
            viewNews (index) {
                if (this.newsData[index].newsUrl === null) {
                    localStorage.newsTitle = this.newsData[index].newsTitle;
                    localStorage.createDate = this.newsData[index].createDate;
                    localStorage.newsDescription = this.newsData[index].newsDescription;
                    localStorage.newsContent = this.newsData[index].newsContent;
                    this.$router.push({
                        name: 'viewNews'
                    });
                } else {
                    this.$Message.info('引用类型新闻无法查看');
                    return false;
                }
            },
            newsClicks (name) {
                setTimeout(() => {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    });
                }, 100);
                this.$refs[name].validate((valid) => {
                    let param = {
                        newsPageNum: this.newsPageNum,
                        newsPageSize: this.newsPageSize
                    };
                    if (valid) {
                        axios.post('api/fk/admin/newsManager/updateNews', this.newsFroms).then((res) => {
                            if (res.data.status === 200) {
                                this.$Message.success('编辑成功');
                                this.newsModels = false;
                                this.axiosGetNewsByPageAndExample(param);
                            }
                        });
                    }
                });
            },
            /* newsClick(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        if (this.newsFrom.id !== "") {
                            axios.post('api/fk/admin/newsManager/updateNews', this.newsFrom).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('编辑成功');
                                    setTimeout(() => {
                                        this.$router.go(0)
                                    }, 500);
                                }
                            })
                        } else {
                            if (this.newsFrom.importantNewsFlag) {
                                this.newsFrom.importantNewsFlag = '1';
                            } else {
                                this.newsFrom.importantNewsFlag = '0'
                            }
                            if (this.newsFrom.recommendedNewsFlag) {
                                this.newsFrom.recommendedNewsFlag = '1';
                            } else {
                                this.newsFrom.recommendedNewsFlag = '0'
                            }
                            if (this.newsFrom.importantWorldCupFlag) {
                                this.newsFrom.importantWorldCupFlag = '1';
                            } else {
                                this.newsFrom.importantWorldCupFlag = '0'
                            }
                            axios.post('api/fk/admin/newsManager/addNews', this.newsFrom).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('保存成功');
                                    setTimeout(() => {
                                        this.$router.go(0)
                                    }, 500);
                                    /!*this.newsModel = false;
                                    this.newsData.splice(this.newsData.length+1);*!/
                                }
                            })
                        }
                    } else {
                        this.$Message.error('操作失败');
                        setTimeout(() => {
                            this.loading = false;
                            this.$nextTick(() => {
                                this.loading = true;
                            });
                        }, 2000);
                    }
                });
            }, */
            changeOne (status) {
                if (status) {
                    // this.newsFroms.importantWorldCupFlag = false;
                    this.newsFroms.importantNewsFlag = false;
                }
            },
            changeTwo (status) {
                if (status) {
                    // this.newsFroms.importantWorldCupFlag = false;
                    this.newsFroms.recommendedNewsFlag = false;
                }
            },
            /* changeThree(status) {
                if(status) {
                    this.newsFroms.recommendedLiveFlag = false;
                    this.newsFroms.importantNewsFlag = false;
                }
            }, */
            newInfoCancel () {
                /* this.newsFrom.newsTitle = '';
                this.newsFrom.newsUrl = '';
                this.newsFrom.leagueId = '';
                this.newsFrom.importantWorldCupFlag = false;
                this.newsFrom.recommendedLiveFlag = false;
                this.newsFrom.importantLiveFlag = false;
                this.$refs.uploadNewsBigPic.clearFiles(); */
                // this.$Message.info('你没有做任何操作!');
            },
            resetSearchCondition () {
                this.searchCondition.newsDescription = '';
                this.clearNewsStatus();
                this.clearLeagueStatus();
                this.axiosGetNewsByPageAndExample(this.searchCondition);
            },
            searchByCondition () {
                this.searchCondition.newsPageNum = 1;
                this.searchCondition.newsPageSize = 10;
                this.axiosGetNewsByPageAndExample(this.searchCondition);
            },
            axiosGetNewsByPageAndExample (postData) {
                axios.post('api/fk/admin/newsManager/getNewsByPage', postData).then((res) => {
                    if (res.data.status === 200) {
                        this.newsData = res.data.body;
                        this.newsTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            removeNews (index) {
                axios.post('api/fk/admin/newsManager/remove', {id: this.newsData[index].id}).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功');
                    }
                    this.newsData.splice(index, 1);
                });
            },
            clearNewsStatus () {
                this.searchCondition.newsType = '';
            },
            clearLeagueStatus () {
                this.searchCondition.leagueId = '';
            },
            handleNewsPage (newsPageNum) {
                this.newsPageNum = newsPageNum;
                axios.post('api/fk/admin/newsManager/getNewsByPage', {
                    newsPageNum: this.newsPageNum,
                    newsPageSize: this.newsPageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.newsData = res.data.body;
                        this.newsTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            handleNewsPageSize (newsPageSize) {
                this.newsPageSize = newsPageSize;
                axios.post('api/fk/admin/newsManager/getNewsByPage', {
                    newsPageNum: this.newsPageNum,
                    newsPageSize: this.newsPageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.newsData = res.data.body;
                        this.newsTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            uploadMaxSize (file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatError (file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadNewsBigPicSuccess (event, file) {
                this.newsFroms.newsBigPic = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadError (event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUpload (file) {
                const check = this.$refs.uploadNewsBigPic.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张轮播大图。'});
                }
                return check;
            },
            removeFromUploadList (file) {
                this.newsFroms.newsBigPic = '';
            }
        },
        mounted () {
            var param = {
                newsPageNum: this.newsPageNum,
                newsPageSize: this.newsPageSize
            };
            axios.post('api/fk/admin/newsManager/getNewsByPage', param).then((res) => {
                if (res.data.status === 200) {
                    this.newsData = res.data.body;
                    this.newsTotalNum = res.data.pageTotalNum;
                }
            });
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    res.data.body.forEach((item, index) => {
                        this.leagueNameList.push({key: item.id, value: item.leagueName});
                    });
                }
            });
        }
    };
</script>