<style lang="less">
    @import "./home.less";
    @import "../../styles/common.less";
    @import './components/table.less';
</style>
<template>
    <div class="home-main">
        <Row :gutter="10">
            <Col :md="24" :lg="16">
                <Row :gutter="5">
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                        <infor-card
                                id-name="user_created_count"
                                :end-val="count.createUser"
                                iconType="ios-personadd-outline"
                                color="#64d572"
                                intro-text="今日新增用户"
                        ></infor-card>
                    </Col>
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                        <infor-card
                                id-name="visit_count"
                                :end-val="count.visit"
                                iconType="ios-personadd"
                                color="#2d8cf0"
                                intro-text="昨日新增用户"
                        ></infor-card>
                    </Col>
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                        <infor-card
                                id-name="collection_count"
                                :end-val="count.collection"
                                iconType="ios-people"
                                color="#ffd572"
                                intro-text="用户总数量"
                        ></infor-card>
                    </Col>
                </Row>
            </Col>
        </Row>
        <Row class="margin-top-10">
            <Col span="22" style="">
                <Card>
                    <p slot="title">
                        用户列表
                    </p>
                    <Row>

                        <span class="margin-left-15">  微信昵称:</span>
                        <Input v-model="searchCondition.nickName" placeholder="请输入微信昵称" clearable
                               style="width: 120px"></Input>
                        <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByCondition">
                            搜索
                        </Button>
                        <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>
                    </Row>
                    <Row class="margin-top-10">
                        <can-edit-table v-model="AllMiniUser" :hover-show="true"
                                        :columns-list="AllColumns">
                        </can-edit-table>
                        <Page :total="totalNum" :current="searchCondition.pageNum"
                              :page-size="searchCondition.pageSize"
                              @on-change="handlePage"
                              @on-page-size-change='handlePageSize' show-sizer style="float: right"
                              class="margin-top-10"></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
    </div>
</template>

<script>
    import axios from 'axios';
    import countUp from './components/countUp.vue';
    import inforCard from './components/inforCard.vue';
    import canEditTable from './components/canEditTable.vue';

    export default {
        name: 'league',
        components: {
            countUp,
            canEditTable,
            inforCard
        },
        data() {
            return {
                count: {
                    createUser: 0,
                    visit: 0,
                    collection: 0
                },
                AllMiniUser: [],
                AllColumns: [
                    {
                        title: 'Openid',
                        key: 'openid'
                    },
                    {
                        title: '用户',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.headImg,
                                        'icon': 'person'
                                    }
                                }),
                                h('strong', params.row.nickName)
                            ]);
                        }
                    },
                    {
                        title: '性别',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.gender === '1' ? '男' : '女')
                            ]);
                        }
                    },
                    {
                        title: '国家',
                        key: 'country'
                    },
                    {
                        title: '地区',
                        key: 'province'
                    },
                    {
                        title: '城市',
                        key: 'city'
                    },
                    {
                        title: '操作',
                        width: 150,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: this.AllMiniUser[params.index].remarks === 'black' ? 'info' : 'warning'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.changeStatus(params.index);
                                        }
                                    }
                                }, this.AllMiniUser[params.index].remarks === 'black' ? '解除屏蔽' : '屏蔽评论')
                            ]);
                        }
                    }],
                searchCondition: {
                    pageNum: 1,
                    pageSize: 10,
                    nickName:""
                },
                totalNum: 10
            };
        },
        computed: {},
        methods: {
            handlePage(pageNum) {
                this.searchCondition.pageNum = pageNum;
                this.axoisGetMiniUsersByPage(this.searchCondition);
            },
            handlePageSize(pageSize) {
                this.searchCondition.pageSize = pageSize;
                this.axoisGetMiniUsersByPage(this.searchCondition);
            },
            axoisGetMiniUsersByPage(postData) {
                axios.post('api/fk/admin/user/getMiniUserByPage', postData).then((res) => {
                    if (res.data.status === 200) {
                        console.log(res.data);
                        this.AllMiniUser = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            changeStatus(index) {
                axios.post('api/fk/admin/user/changeUserStatus', {
                    id: this.AllMiniUser[index].id,
                    remarks: this.AllMiniUser[index].remarks === 'black' ? 'ok' : 'black'
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('更新状态成功!');
                        this.axoisGetMiniUsersByPage(this.searchCondition);
                    }
                });
            },
            searchByCondition() {
                this.searchCondition.pageNum = 1;
                this.searchCondition.pageSize = 10;
                this.axoisGetMiniUsersByPage(this.searchCondition);
            },
            resetSearchCondition(){
                this.searchCondition.nickName="";
                this.axoisGetMiniUsersByPage(this.searchCondition);
            }
        },
        created() {
            axios.get('api/fk/admin/user/getTodayMiniUser').then((res) => {
                if (res.data.status === 200) {
                    this.count.createUser = res.data.body.length;
                }
            });
            axios.get('api/fk/admin/user/getYesterdayMiniUser').then((res) => {
                if (res.data.status === 200) {
                    this.count.visit = res.data.body.length;
                }
            });
            axios.get('api/fk/admin/user/getAllMiniUsers').then((res) => {
                if (res.data.status === 200) {
                    this.count.collection = res.data.body.length;
                }
            });
            this.axoisGetMiniUsersByPage(this.searchCondition);
        }
    };
</script>
