<style lang="less">
    @import '../../../styles/common.less';
    @import '../components/table.less';
</style>

<template>
    <div>
        <Row class="margin-top-10">
            <Col span="25">
            <Card>
                <p slot="title">
                    球队排行
                </p>
                <Row>
                    <span class="margin-left-15">选择赛季：</span>
                    <Input v-model="searchCondition.teamListTime" placeholder="请输入赛季" clearable style="width: 120px" />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;联赛：</span>
                    <Select v-model="searchCondition.leagueId" clearable style="width: 120px"
                            @on-clear="clearLeagueStatus">
                        <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                            {{ item.value }}
                        </Option>
                    </Select>

                    <span>&nbsp;&nbsp;&nbsp;&nbsp;球队：</span>
                    <Select v-model="searchCondition.teamId" clearable style="width: 120px" @on-clear="clearTeamStatus">
                        <Option v-for="item in AllTeam" :value="item.id" :key="item.id">
                            {{ item.teamName }}
                        </Option>
                    </Select>

                    <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByCondition">
                        搜索
                    </Button>
                    <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>

                </Row>
                <Row class="margin-top-10">
                    <can-edit-table v-model="teamListData" :columns-list="teamListColumns"></can-edit-table>
                </Row>
                <Button type="primary" class="margin-top-10" icon="plus" @click="addData">新增</Button>
                <Page :total="totalNum" :current="pageNum" :page-size="pageSize"
                      @on-change="handlePage"
                      @on-page-size-change='handlePageSize' show-sizer style="float: right"
                      class="margin-top-10"></Page>

            </Card>
            </Col>
        </Row>

        <Modal
                title="球队榜信息"
                v-model="teamListModel"
                :mask-closable="false"
                :loading="loading"
                @on-ok="teamListOk('teamListForm')"
                @on-cancel="teamListCancel"
                width="1000">
            <Form ref="teamListForm" :model="teamListForm" :label-width="100">
                <Row>
                    <Col span="6">
                    <FormItem label="选择联赛:" prop="leagueId">
                        <Select v-model="teamListForm.leagueId">
                            <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">
                                {{ item.value }}
                            </Option>
                        </Select>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="选择球队:" prop="teamId">
                        <Select v-model="teamListForm.teamId" filterable>
                            <Option v-for="item in AllTeam" :value="item.id" :key="item.id">{{ item.teamName }}
                            </Option>
                        </Select>
                    </FormItem>
                    </Col>
                    <Col span="10">
                    <FormItem label="选择赛季:" prop="teamListTime">
                        <DatePicker type="year" style="width: 100px;" placeholder="选择时间"
                                    v-model="teamListForm.teamListTime"></DatePicker>
                        <label>注：选择2000年，即为2000/01赛季</label>
                        <!--<DatePicker type="year" style="width: 100px;;" placeholder="选择时间" v-model="teamListForm.teamListTimeOne"></DatePicker>-->
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="进球总数:" prop="goalTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.goalTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="胜利总数:" prop="winTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.winTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="失败总数:" prop="failTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.failTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="点球总数:" prop="panaltyTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.panaltyTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="射门总数:" prop="shootTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.shootTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="射中总数:" prop="shootingTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.shootingTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="传球总数:" prop="passTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.passTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="传球成功率:" prop="passingSuccessRate">
                        <InputNumber :max="0.99" :min="0" :step="0.01"
                                     v-model="teamListForm.passingSuccessRate"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="抢断总数:" prop="stealTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.stealTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="解围总数:" prop="rescueTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.rescueTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="扑救总数:" prop="saveTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.saveTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="犯规场均:" prop="foulAverage">
                        <InputNumber :max="500" :min="0" :step="0.1" v-model="teamListForm.foulAverage"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="击中门框总数:" prop="hitdoorTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.hitdoorTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="头球得分总数:" prop="headerTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.headerTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="任意球得分总数:" prop="freeKickTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.freeKickTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="禁区进球总数:" prop="restrictedAreaTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.restrictedAreaTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="禁区外进球总数:" prop="outsideAreaTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.outsideAreaTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="防守反击得分总数:" prop="defensiveCountattackTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.defensiveCountattackTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="越位总数:" prop="offsideTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.offsideTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="零分场次总数:" prop="zeroClosusersTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.zeroClosusersTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="总失球数:" prop="concededTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.concededTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="封堵总数:" prop="pluggingTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.pluggingTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="拦截总数:" prop="interceptionTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.interceptionTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="头球解围总数:" prop="headerClearanceTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.headerClearanceTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="乌龙球总数:" prop="ownGoalsTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.ownGoalsTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="被罚点球总数:" prop="penalizedPenaltyTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.penalizedPenaltyTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="点球被罚进总数:" prop="penaltyKickedInTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.penaltyKickedInTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="直塞总数:" prop="straightPlugTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.straightPlugTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="6">
                    <FormItem label="长传总数:" prop="longPassTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.longPassTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="回传球总数:" prop="returnPassTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.returnPassTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="传中总数:" prop="passInTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.passInTotal"></InputNumber>
                    </FormItem>
                    </Col>
                    <Col span="6">
                    <FormItem label="角球总数:" prop="cornerKickTotal">
                        <InputNumber :max="500" :min="0" v-model="teamListForm.cornerKickTotal"></InputNumber>
                    </FormItem>
                    </Col>
                </Row>
            </Form>
        </Modal>


    </div>
</template>

<script>
    import listPlus from '../team-list/team-listPlus.vue';
    import canEditTable from '../components/canEditTable.vue';
    import axios from 'axios';

    export default {
        name: 'team-list',
        components: {listPlus, canEditTable},
        data () {
            return {
                totalNum: 50,
                pageNum: 1,
                pageSize: 10,
                teamListData: [],
                teamListModel: false,
                loading: true,
                leagueNameList: [],
                AllTeam: [],
                searchCondition: {pageNum: 1, pageSize: 10, teamListTime: '', leagueId: '', teamId: ''},
                teamListForm: {
                    id: '',
                    teamId: '',
                    leagueId: '',
                    teamListTime: '',
                    goalTotal: 0,
                    winTotal: 0,
                    failTotal: 0,
                    panaltyTotal: 0,
                    shootTotal: 0,
                    shootingTotal: 0,
                    passTotal: 0,
                    passingSuccessRate: 0.00,
                    stealTotal: 0,
                    rescueTotal: 0,
                    saveTotal: 0,
                    foulAverage: 0,
                    hitdoorTotal: 0,
                    headerTotal: 0,
                    freeKickTotal: 0,
                    restrictedAreaTotal: 0,
                    outsideAreaTotal: 0,
                    defensiveCountattackTotal: 0,
                    offsideTotal: 0,
                    zeroClosusersTotal: 0,
                    concededTotal: 0,
                    pluggingTotal: 0,
                    interceptionTotal: 0,
                    headerClearanceTotal: 0,
                    ownGoalsTotal: 0,
                    penalizedPenaltyTotal: 0,
                    penaltyKickedInTotal: 0,
                    straightPlugTotal: 0,
                    longPassTotal: 0,
                    returnPassTotal: 0,
                    passInTotal: 0,
                    cornerKickTotal: 0
                },
                /* teamRules: {
                    teamId:[{required:true,message:'请选择球队',trigger: 'blur'}],leagueId:[{required:true,message:'请选择联赛',trigger: 'blur'}],
                    teamListTime:[{required:true,message:'请选择赛季',trigger: 'blur'}]
                }, */
                teamListColumns: [
                    {
                        type: 'expand',
                        width: 50,
                        render: (h, params) => {
                            return h(listPlus, {props: {row: params.row}});
                        }
                    },
                    {
                        title: '所属联赛',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.league.leagueName)
                            ]);
                        }
                    },
                    {
                        title: '球队名称',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.fkteam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '赛季', align: 'center', editable: true, key: 'teamListTime'
                    },
                    {title: '胜利场数', align: 'center', editable: true, key: 'winTotal'},
                    {title: '失败场数', align: 'center', editable: true, key: 'failTotal'},
                    {title: '进球总数', align: 'center', editable: true, key: 'winTotal'},
                    {title: '射门总数', align: 'center', editable: true, key: 'shootTotal'},
                    {title: '射中总数', align: 'center', editable: true, key: 'shootingTotal'},
                    {title: '点球总数', align: 'center', editable: true, key: 'panaltyTotal'},
                    {title: '传球总数', align: 'center', editable: true, key: 'passTotal'},
                    {
                        title: '操作',
                        align: 'center',
                        width: 200,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editTeamList(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeTeamList(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')])
                            ]);
                        }
                    }
                ]
            };
        },
        methods: {
            editTeamList (index) {
                this.teamListForm = this.teamListData[index];
                this.teamListModel = true;
            },
            removeTeamList (index) {
                axios.post('api/fk/admin/teamList/remove', {id: this.teamListData[index].id}).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功');
                    }
                    this.teamListData.splice(index, 1);
                });
            },
            addData () {
                this.$refs['teamListForm'].resetFields();
                this.teamListModel = true;
            },
            teamListOk (name) {
                setTimeout(() => {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    });
                }, 100);
                if (this.teamListForm.leagueId === '') {
                    this.$Message.error('请选择联赛');
                    return false;
                }
                if (this.teamListForm.teamId === '') {
                    this.$Message.error('请选择球队');
                    return false;
                }
                if (this.teamListForm.teamListTime === '') {
                    this.$Message.error('请选择赛季');
                    return false;
                }
                let mid = this.teamListForm.teamListTime.getFullYear() + 1;
                this.teamListForm.teamListTime = this.teamListForm.teamListTime.getFullYear() + '/' + (mid + '').substring(2, 4);
                this.$refs[name].validate((valid) => {
                    let param = {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    };
                    if (valid) {
                        if (this.teamListForm.id !== '') {
                            axios.post('api/fk/admin/teamList/updateTeamFroList', this.teamListForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('更新成功!');
                                    this.teamListModel = false;
                                    this.getDataByCondition(param);
                                    /* setTimeout(() => {
                                        this.$router.go(0)
                                    }, 500); */
                                }
                            });
                        } else {
                            axios.post('api/fk/admin/teamList/addTeamForList', this.teamListForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('添加成功!');
                                    this.teamListModel = false;
                                    this.getDataByCondition(param);
                                }
                            });
                        }
                    }
                });
            },
            clearLeagueStatus () {
                this.searchCondition.leagueId = '';
            },
            clearTeamStatus () {
                this.searchCondition.teamId = '';
            },
            searchByCondition () {
                this.getDataByCondition(this.searchCondition);
            },
            resetSearchCondition () {
                this.searchCondition.teamListTime = '';
                this.clearLeagueStatus();
                this.clearTeamStatus();
                this.getDataByCondition(this.searchCondition);
            },
            getDataByCondition (param) {
                axios.post('api/fk/admin/teamList/getByPage', param).then((res) => {
                    if (res.data.status === 200) {
                        this.teamListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            teamListCancel () {
            },
            handlePage (pageNum) {
                this.pageNum = pageNum;
                axios.post('api/fk/admin/teamList/getByPage', {
                    pageNum: this.pageNum,
                    pageSize: this.pageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.teamListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            },
            handlePageSize (pageSize) {
                this.pageSize = pageSize;
                axios.post('api/fk/admin/teamList/getByPage', {
                    pageNum: this.pageNum,
                    pageSize: this.pageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.teamListData = res.data.body;
                        this.totalNum = res.data.pageTotalNum;
                    }
                });
            }
        },
        mounted () {
            let param = {
                pageNum: this.pageNum,
                pageSize: this.pageSize
            };
            axios.post('api/fk/admin/teamList/getByPage', param).then((res) => {
                if (res.data.status === 200) {
                    this.teamListData = res.data.body;
                    this.totalNum = res.data.pageTotalNum;
                }
            });
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    res.data.body.forEach((item, index) => {
                        this.leagueNameList.push({key: item.id, value: item.leagueName});
                    });
                }
            });
            axios.post('api/fk/admin/team/getAllTeam').then((res) => {
                if (res.data.status === 200) {
                    this.AllTeam = res.data.body;
                }
            });
        }
    };
</script>