<template>
    <div>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">传球成功率</span>
            <span class="expand-value">{{ row.passingSuccessRate }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">抢断总数</span>
            <span class="expand-value">{{ row.stealTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">解围总数</span>
            <span class="expand-value">{{ row.rescueTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">扑救总数</span>
            <span class="expand-value">{{ row.saveTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">场均犯规数</span>
            <span class="expand-value">{{ row.foulAverage }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">击中门框数</span>
            <span class="expand-value">{{ row.hitdoorTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">



            <Col span="4">
            <span class="expand-key">头球得分总数</span>
            <span class="expand-value">{{ row.headerTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">任意球得分总数</span>
            <span class="expand-value">{{ row.freeKickTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">禁区进球总数</span>
            <span class="expand-value">{{ row.restrictedAreaTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">禁区外进球总数</span>
            <span class="expand-value">{{ row.outsideAreaTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">防守反击得分总数</span>
            <span class="expand-value">{{ row.defensiveCountattackTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">越位总数</span>
            <span class="expand-value">{{ row.offsideTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">



            <Col span="4">
            <span class="expand-key">零分场次总数</span>
            <span class="expand-value">{{ row.zeroClosusersTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">总失球数</span>
            <span class="expand-value">{{ row.concededTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">封堵总数</span>
            <span class="expand-value">{{ row.pluggingTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">拦截总数</span>
            <span class="expand-value">{{ row.interceptionTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">头球解围总数</span>
            <span class="expand-value">{{ row.headerClearanceTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">乌龙球总数</span>
            <span class="expand-value">{{ row.ownGoalsTotal }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="4">
            <span class="expand-key">被罚点球总数</span>
            <span class="expand-value">{{ row.penalizedPenaltyTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">点球被罚进总数</span>
            <span class="expand-value">{{ row.penaltyKickedInTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">直塞总数</span>
            <span class="expand-value">{{ row.straightPlugTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">长传总数</span>
            <span class="expand-value">{{ row.longPassTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">回传球总数</span>
            <span class="expand-value">{{ row.returnPassTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">传中总数</span>
            <span class="expand-value">{{ row.passInTotal }}</span>
            </Col>
            <Col span="4">
            <span class="expand-key">角球总数</span>
            <span class="expand-value">{{ row.cornerKickTotal }}</span>
            </Col>
        </Row>
        <!--<Row class="expand-row">
            <Col span="8">
            <span class="expand-key">直播标题: </span>
            <span class="expand-value">{{ row.liveName }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">小标题: </span>
            <span class="expand-value">{{ row.liveSecondName }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">直播时间: </span>
            <span class="expand-value">{{ row.liveDate }}&nbsp;&nbsp;{{ row.liveTime }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key">所属联赛: </span>
            <span class="expand-value">{{ row.league.leagueName }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">主队: </span>
            <span class="expand-value">{{ row.mainTeam.teamName }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">客队: </span>
            <span class="expand-value">{{ row.visiterTeam.teamName }}</span>
            </Col>
        </Row>
        <Row>
            <Col span="24">
            <span class="expand-key">直播链接: </span>
            <span class="expand-value">{{ row.liveUrl }}</span>
            </Col>
        </Row>-->
    </div>
</template>

<script>
    export default {
        name: 'team-listPlus',
        props: {
            row: Object
        }
    };
</script>

<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>