<template>
    <Row class="margin-top-10">
        <!--<Col span="11" style="margin: 10px">
        <Card>
            <p slot="title">
                世界杯重要新闻
            </p>
            <div class="">
                <Table :columns="worldCupImportantNewsColumns" :data="worldCupImportantNewsData"></Table>
            </div>
            <Button type="primary" class="margin-top-10" icon="gear-b" @click="jumpToNews">配置世界杯重要新闻</Button>
        </Card>
        </Col>-->
        <Col span="24" style="margin: 10px">
        <Card>
            <p slot="title">
                世界杯重要直播（已激活）
            </p>
            <div class="">
                <Table :columns="worldCupImportantLiveColumns" :data="worldCupImportantLiveData"></Table>
            </div>
            <Button type="primary" class="margin-top-10" icon="gear-b" @click="jumpToLive">配置世界杯重要直播</Button>
        </Card>
        </Col>
    </Row>
</template>

<script>
    import expandRow1 from './components/table-expand1.vue';
    import canEditTable from './components/canEditTable.vue';
    import axios from 'axios';

    export default {
        components: {expandRow1, canEditTable},
        name: 'worldCup',
        data () {
            return {
                worldCupImportantLiveColumns: [
                    {
                        type: 'expand',
                        width: 50,
                        render: (h, params) => {
                            return h(expandRow1, {
                                props: {
                                    row: params.row
                                }
                            });
                        }
                    },
                    {
                        title: '直播名称',
                        key: 'liveName'
                    },
                    {
                        title: '主队',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': this.worldCupImportantLiveData[params.index].mainTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.mainTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '客队',
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': this.worldCupImportantLiveData[params.index].visiterTeam.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.visiterTeam.teamName)
                            ]);
                        }
                    },
                    {
                        title: '直播时间',
                        render: (h, params) => {
                            return h('div', [
                                h('strong', params.row.liveDate + ' ' + params.row.liveTime)
                            ]);
                        }
                    }
                ],
                /* worldCupImportantNewsColumns: [
                    {title: '新闻标题', key: 'newsTitle', width: 196},
                    {title: '新闻标记', key: 'newsDescription', width: 110},
                    {
                        title: '类型', width: 80,
                        render: (h, params) => {
                            return h('div', [h('strong', params.row.newsUrl === null ? '原创' : '引用')]);
                        }
                    },
                    {
                        title: '创建时间', align: 'center', key: 'createDate', editable: true, width: 180
                    },
                ], */
                worldCupImportantLiveData: []
                // worldCupImportantNewsData: []
            };
        },
        methods: {
            jumpToLive () {
                this.$router.push({
                    name: 'live_index'
                });
            }
            /* jumpToNews() {
                this.$router.push({
                    name: 'newsList_index'
                })
            } */
        },
        mounted () {
            axios.post('api/fk/admin/live/getLiveByPageAndExample', {
                importantWorldCupFlag: '1',
                delFlag: '0'
            }).then((res) => {
                if (res.data.status === 200) {
                    this.worldCupImportantLiveData = res.data.body;
                }
            });
            /* axios.post('api/fk/admin/newsManager/getNewsWithWorldCup').then((res) => {
                if (res.data.status === 200) {
                    this.worldCupImportantNewsData = res.data.body;
                }
            }); */
        }
    };
</script>

<style lang="less">
    @import '../../styles/common.less';
    @import './components/table.less';
</style>