<style lang="less">
    @import '../../../styles/common.less';
    @import "./newsManager.less";
</style>

<template>
    <div class="ivu-card-body">
        <Row>
            <Col span="16">
                <Form>
                    <FormItem label="标题">
                        <Input v-model="newsTitle" style="width: 83%" id="news-title-two" icon="android-list"/>
                    </FormItem>
                    <FormItem label="联赛">
                        <Select v-model="leagueId" style="width: 36.5%" value="请选择联赛">
                            <Option v-for="item in leagueNameList" :value="item.key" :key="item.key">{{ item.value }}
                            </Option>
                        </Select>
                        &nbsp;&nbsp;&nbsp;&nbsp;新闻标记：
                        <Input v-model="newsDescription" style="width: 35.6%" icon="android-list"/>
                    </FormItem>
                    <FormItem label="标记">
                        <template>
                            <label style="margin-left: 30px">推荐新闻标记：</label>&nbsp;&nbsp;&nbsp;<i-switch
                                v-model="switchOne" @on-change="changeOne"></i-switch>
                            <label style="margin-left: 60px">轮播新闻标记：</label>&nbsp;&nbsp;&nbsp;<i-switch
                                v-model="switchTwo" @on-change="changeTwo"></i-switch>
                            <!--<label style="margin-left: 60px">世界杯新闻标记：</label>&nbsp;&nbsp;&nbsp;<i-switch v-model="switchThree"
                                                                                                         @on-change="changeThree"></i-switch>-->
                            <!--<label style="margin-left: 150px">是否显示放置轮播图栏位：</label>&nbsp;&nbsp;&nbsp;<i-switch v-model="switchFour"
                                                                                                         @on-change="changeFour"></i-switch>-->
                        </template>
                    </FormItem>
                    <FormItem label="上传图片" :error="pictures">
                        <table style="table-layout:fixed;">
                            <tr v-show="switchTwo">
                                <td style="width: 25%;">
                                    <Upload
                                            ref="upload"
                                            :before-upload="beforeUpload"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatError"
                                            :on-exceeded-size="uploadMaxSize"
                                            :on-success="uploadSuccess"
                                            :on-error="uploadError"
                                            :on-remove="removeLeagueIconFromUploadList"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">首页轮播图</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsBigPic != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picPlay">{{ newsBigPic }}</textarea>
                                    <Button type="primary" @click="copyZero" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 25%;">
                                    <Upload
                                            ref="uploadOne"
                                            :before-upload="beforeUploadOne"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatErrorOne"
                                            :on-exceeded-size="uploadMaxSizeOne"
                                            :on-success="uploadSuccessOne"
                                            :on-error="uploadErrorOne"
                                            :on-remove="removeLeagueIconFromUploadListOne"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">图片一</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsPic1 != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picOne">{{ newsPic1 }}</textarea>
                                    <Button type="primary" @click="copyOne" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 25%;">
                                    <Upload
                                            ref="uploadTwo"
                                            :before-upload="beforeUploadTwo"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatErrorTwo"
                                            :on-exceeded-size="uploadMaxSizeTwo"
                                            :on-success="uploadSuccessTwo"
                                            :on-error="uploadErrorTwo"
                                            :on-remove="removeLeagueIconFromUploadListTwo"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">图片二</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsPic2 != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picTwo">{{ newsPic2 }}</textarea>
                                    <Button type="primary" @click="copyTwo" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 25%;">
                                    <Upload
                                            ref="uploadThree"
                                            :before-upload="beforeUploadThree"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatErrorThree"
                                            :on-exceeded-size="uploadMaxSizeThree"
                                            :on-success="uploadSuccessThree"
                                            :on-error="uploadErrorThree"
                                            :on-remove="removeLeagueIconFromUploadListThree"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">图片三</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsPic3 != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picThree">{{ newsPic3 }}</textarea>
                                    <Button type="primary" @click="copyThree" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 25%;">
                                    <Upload
                                            ref="uploadFour"
                                            :before-upload="beforeUploadFour"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatErrorFour"
                                            :on-exceeded-size="uploadMaxSizeFour"
                                            :on-success="uploadSuccessFour"
                                            :on-error="uploadErrorFour"
                                            :on-remove="removeLeagueIconFromUploadListFour"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">图片四</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsPic4 != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picFour">{{ newsPic4 }}</textarea>
                                    <Button type="primary" @click="copyFour" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 25%;">
                                    <Upload
                                            ref="uploadFive"
                                            :before-upload="beforeUploadFive"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="uploadFormatErrorFive"
                                            :on-exceeded-size="uploadMaxSizeFive"
                                            :on-success="uploadSuccessFive"
                                            :on-error="uploadErrorFive"
                                            :on-remove="removeLeagueIconFromUploadListFive"
                                            action="/api/fk/admin/uploadIcon">
                                        <Button type="ghost" icon="ios-cloud-upload-outline">图片五</Button>
                                    </Upload>
                                </td>
                                <td style="width: 25%;" v-show=" newsPic5 != '' ">
                                <textarea
                                        style="width: 300px;height: 30px;margin-left: -100px;margin-top: 10px;overflow-y: hidden;border:solid 1px #d3d3d3;"
                                        id="picFive">{{ newsPic5 }}</textarea>
                                    <Button type="primary" @click="copyFive" style="margin-top: -6%">COPY</Button>
                                </td>
                            </tr>
                        </table>
                    </FormItem>
                    <div id="self-button">
                        <Button type="primary" @click="saveNews">保存</Button>
                    </div>
                </Form>
            </Col>

            <Col span="8">
                <Form>
                    <FormItem :error="news_Content">
                        <div style="margin-left: -10%">
                            <textarea id="newsEditor" v-model="newsContent"></textarea>
                        </div>
                    </FormItem>
                </Form>
            </Col>
        </Row>
    </div>
</template>

<script>
    import axios from 'axios';
    import tinymce from 'tinymce';

    export default {
        name: 'newsManager_index',
        components: {},
        data() {
            return {
                newsId: '',
                newsTitle: '', // 标题
                newsBigPic: '', // 轮播大图
                newsPic1: '', // 内容大图
                newsPic2: '', // 内容大图
                newsPic3: '', // 内容大图
                newsPic4: '', // 内容大图
                newsPic5: '', // 内容大图
                leagueNameList: [], // 联赛列表下拉框
                leagueId: '', // 联赛ID
                newsDescription: '', // 描述
                switchOne: false,
                recommendedNewsFlag: '', // 推荐新闻
                switchTwo: false,
                importantNewsFlag: '', // 重要新闻
                switchThree: false,
                switchFour: false,
                // importantWorldCupFlag: '', //世界杯新闻
                news_Content: '',
                newsContent: '',
                pictures: '',
                newsData: {
                    newsTitle: '',
                    newsBigPic: '',
                    newsPic1: '',
                    newsPic2: '',
                    newsPic3: '',
                    newsPic4: '',
                    newsPic5: '',
                    leagueId: '',
                    newsContent: '',
                    newsDescription: ''
                }
            };
        },
        methods: {
            copyZero() {
                let text = document.getElementById("picPlay");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            copyOne() {
                let text = document.getElementById("picOne");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            copyTwo() {
                let text = document.getElementById("picTwo");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            copyThree() {
                let text = document.getElementById("picThree");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            copyFour() {
                let text = document.getElementById("picFour");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            copyFive() {
                let text = document.getElementById("picFive");
                text.select(); // 选中文本
                document.execCommand("copy"); // 执行浏览器复制命令
                this.$Message.success("复制成功");
            },
            uploadMaxSize(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatError(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccess(event, file) {
                this.newsBigPic = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadError(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUpload(file) {
                const check = this.$refs.upload.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张大图。'});
                }
                return check;
            },
            removeLeagueIconFromUploadList(file) {
                this.newsBigPic = '';
            },

            uploadMaxSizeOne(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatErrorOne(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccessOne(event, file) {
                this.newsPic1 = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadErrorOne(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUploadOne(file) {
                const check = this.$refs.uploadOne.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张图片。'});
                }
                return check;
            },
            removeLeagueIconFromUploadListOne(file) {
                this.newsPic1 = '';
            },

            uploadMaxSizeTwo(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatErrorTwo(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccessTwo(event, file) {
                this.newsPic2 = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadErrorTwo(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUploadTwo(file) {
                const check = this.$refs.uploadTwo.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张图片。'});
                }
                return check;
            },
            removeLeagueIconFromUploadListTwo(file) {
                this.newsPic2 = '';
            },

            uploadMaxSizeThree(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatErrorThree(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccessThree(event, file) {
                this.newsPic3 = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadErrorThree(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUploadThree(file) {
                const check = this.$refs.uploadThree.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张图片。'});
                }
                return check;
            },
            removeLeagueIconFromUploadListThree(file) {
                this.newsPic3 = '';
            },

            uploadMaxSizeFour(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatErrorFour(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccessFour(event, file) {
                this.newsPic4 = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadErrorFour(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUploadFour(file) {
                const check = this.$refs.uploadFour.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张图片。'});
                }
                return check;
            },
            removeLeagueIconFromUploadListFour(file) {
                this.newsPic4 = '';
            },

            uploadMaxSizeFive(file) {
                this.$Notice.warning({title: '超出文件大小限制', desc: '文件太大，不能超过 2M。'});
            },
            uploadFormatErrorFive(file) {
                this.$Notice.warning({title: '文件格式不正确', desc: '文件格式不正确，请选择图片文件。'});
            },
            uploadSuccessFive(event, file) {
                this.newsPic5 = event.body;
                this.$Notice.success({title: '文件上传成功'});
            },
            uploadErrorFive(event, file) {
                this.$Notice.error({title: '文件上传失败'});
            },
            beforeUploadFive(file) {
                const check = this.$refs.uploadFive.fileList.length < 1;
                if (!check) {
                    this.$Notice.warning({title: '最多只能上传 1 张图片。'});
                }
                return check;
            },
            removeLeagueIconFromUploadListFive(file) {
                this.newsPic5 = '';
            },

            recommend() {
            },

            changeOne(status) {
                if (this.switchOne) {
                    this.recommendedNewsFlag = '1';
                    this.importantNewsFlag = '0';
                    this.switchTwo = false;
                    // this.switchThree = false;
                } else {
                    this.recommendedNewsFlag = '0';
                }
                this.$Message.info('开关状态：' + status);
            },

            changeTwo(status) {
                if (this.switchTwo) {
                    this.importantNewsFlag = '1';
                    this.recommendedNewsFlag = '0';
                    this.switchOne = false;
                    // this.switchThree = false;
                } else {
                    this.importantNewsFlag = '0';
                }
                this.$Message.info('开关状态：' + status);
            },

            /* changeThree(status) {
                if(this.switchThree) {
                    this.importantWorldCupFlag = "1";
                    this.switchTwo = false;
                    this.switchOne = false;
                } else {
                    this.importantWorldCupFlag = "0";
                }
                this.$Message.info('开关状态：' + status);
            }, */
            changeFour() {

            },
            saveNews() {
                this.newsData = {
                    newsTitle: this.newsTitle,
                    leagueId: this.leagueId,
                    recommendedNewsFlag: this.recommendedNewsFlag,
                    importantNewsFlag: this.importantNewsFlag,
                    // importantWorldCupFlag: this.importantWorldCupFlag,
                    newsBigPic: this.newsBigPic,
                    newsDescription: this.newsDescription,
                    newsPic1: this.newsPic1,
                    newsPic2: this.newsPic2,
                    newsPic3: this.newsPic3,
                    newsPic4: this.newsPic4,
                    newsPic5: this.newsPic5,
                    id: this.newsId,
                    newsContent: tinymce.activeEditor.getContent()
                };
                var activeEditor = tinymce.activeEditor;
                var editBody = activeEditor.getBody();
                activeEditor.selection.select(editBody);
                var text = activeEditor.selection.getContent({format: 'text'});

                if (this.newsTitle === '') {
                    this.$Message.info('标题不能为空');
                    return false;
                }
                if (this.leagueId === '') {
                    this.$Message.info('请选择联赛');
                    return false;
                }
                if (this.newsDescription === '') {
                    this.$Message.info('请编辑新闻标记');
                }
                if (text === '') {
                    this.$Message.info('请编辑新闻正文');
                    return false;
                }
                if (this.newsData.id.length > 0) {
                    axios.post('api/fk/admin/newsManager/updateNews', this.newsData).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('更新成功');
                            setTimeout(() => {
                                this.$router.go(0);
                            }, 500);
                        }
                    });
                } else {
                    axios.post('api/fk/admin/newsManager/addNews', this.newsData).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('保存成功');
                            setTimeout(() => {
                                this.$router.go(0);
                            }, 500);
                        }
                    });
                }

            },
            init() {
                let id = this.$route.params.id || '';
                console.log("id:", id);
                if (id !== '') {
                    axios.post('api/fk/newsManager/getWorldById', {id: id}).then((res) => {
                        if (res.data.status === 200) {
                            let obj = res.data.body;
                            this.newsId = obj.id;
                            this.newsTitle = obj.newsTitle; // 标题
                            this.newsBigPic = obj.newsBigPic; // 轮播大图
                            this.newsPic1 = obj.newsPic1; // 内容大图
                            this.newsPic2 = obj.newsPic2; // 内容大图
                            this.newsPic3 = obj.newsPic3; // 内容大图
                            this.newsPic4 = obj.newsPic4; // 内容大图
                            this.newsPic5 = obj.newsPic5; // 内容大图
                            this.leagueId = obj.leagueId; // 联赛ID
                            this.newsContent = obj.newsContent;
                            // 描述
                            this.newsDescription = obj.newsDescription
                            if (obj.recommendedNewsFlag === '1') {
                                this.switchOne = true;
                                this.recommendedNewsFlag = obj.recommendedNewsFlag; // 推荐新闻
                            } else {
                                this.switchOne = false;
                            }
                            if (obj.importantNewsFlag === '1') {
                                this.switchTwo = true;
                                this.importantNewsFlag = obj.importantNewsFlag; // 重要新闻
                            } else {
                                this.switchTwo = false;
                            }
                            setTimeout(() => {
                                this.initEditor(obj);
                            }, 200)
                        }
                    });
                } else {
                    this.initEditor();
                }

            },
            initEditor() {
                this.$nextTick(() => {
                    tinymce.init({
                        selector: '#newsEditor',
                        branding: false,
                        elementpath: false,
                        width: 380,
                        height: 400,
                        language: 'zh_CN.GB2312',
                        menubar: 'edit insert view format table tools',
                        theme: 'modern',
                        plugins: [
                            'advlist autolink lists link image charmap print preview hr anchor pagebreak imagetools',
                            'searchreplace visualblocks visualchars code fullscreen fullpage',
                            'insertdatetime media nonbreaking save table contextmenu directionality',
                            'emoticons paste textcolor colorpicker textpattern imagetools codesample'
                        ],
                        toolbar1: ' preview | undo redo | insert | styleselect | forecolor backcolor bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image emoticons codesample',
                        /* toolbar1: ' newnote print fullscreen preview | undo redo | insert | styleselect | forecolor backcolor bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image emoticons media codesample', */
                        autosave_interval: '20s',
                        image_advtab: true,
                        table_default_styles: {
                            width: '100%',
                            borderCollapse: 'collapse'
                        }
                    });
                });
            }
        },
        watch: {
            $route(to, from) {
                if (from.path === "/" || from.path.indexOf("/news-manager/newsManager_index") !== -1) {
                    this.$destroy()
                }
            }
        },
        mounted() {
            this.init();
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    res.data.body.forEach((item, index) => {
                        this.leagueNameList.push({key: item.id, value: item.leagueName});
                    });
                }
            });
        },
        destroyed() {
            tinymce.get('newsEditor').destroy();
        }
    };
</script>
