.ivu-card-body{
  width: 100%;
  height: 100%;
  background-color: white;
}
#news-big-pic{
  float: left;
  width: 50%;
}
#news-pic-one{
  width: 50%;
  margin-left: 20%;
}
#self-button{
  margin-left: 8.5%;
}
#news-Description{
  width: 47%;
  float: left;
}
#_remarks{
  width: 47%;
}