.white {
    background: white;
}

.tab {
    box-shadow: 0px 2px 3px #888888;
    margin-top: -7px;
}

#comment {
    width: 100%;
    height: 48%;
    background: white;
    position: absolute;
}

.comment-content {
    position: absolute;
}

.introduction-text {
    font-weight: 700;
    line-height: 26px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.comment-head {
    margin-top: 13px;
    background: white;
}

#introduction {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 13px;
    width: 100%;
    height: 63.5%;
    background: white;
    box-shadow: 0px 2px 3px #888888;
    line-height: 35px;
    position: absolute;
}

.icon-img {
    width: 47px;
    height: 47px;
    padding: 10px;
    margin-left: 6px;
}

.radio {
    width: 18px;
    height: 18px;
    margin-left: 10px
}

.radio-label {
    padding: 3px;
    color: gray;
}

.comment-font {
    padding-top: 14px;
    font-size: 14px;
    color: #039be5;
    font-weight: 700;
}

.introduction-title {
    padding-top: 14px;
    font-size: 20px;
    color: #03a652;
    font-weight: 700;
}

.video-head {
    text-align: center;
    position: fixed;
    top: 60px;
    /*z-index: 9999;*/
}

.comment-radio {
    float: right;
    padding-top: 14px;
    font-size: 13px;
    font-weight: 700;
}

.comment-input-bottom {
    position: fixed;
    bottom: 0;
}

.comment-input-top {
    position: fixed;
    top: 0;
    z-index: 999;
}

.no-comment {
    text-align: center;
    margin-top: 25%;
    font-size: 12px;
    color: #b3b3b3;
}
