<style lang="less">
    @import '../../styles/common.less';
    @import './components/table.less';
</style>
<template>
    <div>
        <Row class="margin-top-10">
        </Row>

        <Row class="margin-top-10">
            <Col span="12" style="margin: 20px">
                <Card>
                    <p slot="title">
                        联赛管理（用于管理小程序头部滑动栏以及方便后续配置）
                    </p>
                    <div class="">
                        <can-edit-table v-model="leagueData" :hover-show="true"
                                        :columns-list="leagueColumns">
                        </can-edit-table>
                    </div>
                    <Button type="primary" class="margin-top-10" icon="plus" @click="addLeague">新增联赛</Button>
                    <Page :total="leagueTotalNum" :current="leaguePageNum" :page-size="leaguePageSize"
                          @on-change="handleLeaguePage"
                          @on-page-size-change='handleLeaguePageSize' show-sizer style="float: right"
                          class="margin-top-10"></Page>
                </Card>
            </Col>
            <Col span="10" style="margin: 20px">
                <Card>
                    <p slot="title">
                        球队管理（方便后续用到球队的配置）
                    </p>
                    <div class="">
                        <can-edit-table v-model="teamData" :hover-show="true"
                                        :columns-list="teamColumns">
                        </can-edit-table>
                    </div>
                    <Button type="primary" class="margin-top-10" icon="plus" @click="addTeam">新增球队</Button>
                    <Page :total="teamTotalNum" :current="teamPageNum" :page-size="teamPageSize"
                          @on-change="handleTeamPage"
                          @on-page-size-change='handleTeamPageSize' show-sizer style="float: right"
                          class="margin-top-10"></Page>
                </Card>
            </Col>
        </Row>



        <Modal
                title="联赛信息"
                v-model="leagueModel"
                :mask-closable="false"
                @on-ok="leagueInfoOk"
                @on-cancel="infoCancel">
            <Row style="text-align: center">
                <Col span="4" class="margin-top-8"> 联赛名称:</Col>
                <Col span="10"><Input v-model="leagueInfo.leagueName" placeholder="请输入联赛名称" :maxlength="10"/></Col>
            </Row>
            <Row class="margin-top-10">
                <Col span="4">&nbsp;</Col>
                <Col span="10">
                    <Upload
                            ref="uploadLeagueIcon"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :max-size="2048"
                            :on-format-error="uploadFormatError"
                            :on-exceeded-size="uploadMaxSize"
                            :on-success="uploadLeagueIconSuccess"
                            :on-error="uploadError"
                            :on-remove="removeLeagueIconFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">上传联赛图标</Button>
                    </Upload>
                </Col>
            </Row>
        </Modal>

        <Modal
                title="球队信息"
                v-model="teamModel"
                :mask-closable="false"
                @on-ok="teamInfoOk"
                @on-cancel="infoCancel">
            <Row style="text-align: center">
                <Col span="4" class="margin-top-8"> 球队名称:</Col>
                <Col span="10"><Input v-model="teamInfo.teamName" placeholder="请输入联赛名称" :maxlength="10"/></Col>
            </Row>
            <Row class="margin-top-10">
                <Col span="4">&nbsp;</Col>
                <Col span="10">
                    <Upload
                            ref="uploadTeamIcon"
                            :before-upload="beforeUpload"
                            :format="['jpg','jpeg','png']"
                            :max-size="2048"
                            :on-format-error="uploadFormatError"
                            :on-exceeded-size="uploadMaxSize"
                            :on-success="uploadTeamIconSuccess"
                            :on-error="uploadError"
                            :on-remove="removeTeamIconFromUploadList"
                            action="/api/fk/admin/uploadIcon">
                        <Button type="ghost" icon="ios-cloud-upload-outline">上传球队图标</Button>
                    </Upload>
                </Col>
            </Row>
        </Modal>

    </div>
</template>


<script>
    import canEditTable from './components/canEditTable.vue';
    import axios from 'axios';

    export default {
        name: 'home',
        components: {
            canEditTable
        },
        data () {
            return {
                leaguePageNum: 1,
                leaguePageSize: 10,
                leagueTotalNum: 50,
                teamPageNum: 1,
                teamPageSize: 10,
                teamTotalNum: 50,
                teamModel: false,
                leagueModel: false,
                leagueColumns: [
                    {
                        title: '联赛名称',
                        align: 'center',
                        key: 'leagueName'
                    },
                    {
                        title: '联赛图标',
                        width: 85,
                        align: 'center',
                        render: (h, params) => {
                            return h('Avatar', {
                                attrs: {
                                    'src': this.leagueData[params.index].leagueIcon,
                                    'icon': 'ios-football'
                                }
                            });
                        }
                    },
                    {
                        title: '状态',
                        align: 'center',
                        key: 'delFlag',
                        width: 130,
                        render: (h, params) => {
                            const row = this.leagueData[params.index];
                            const color = row.delFlag === '0' ? 'green' : 'red';
                            const text = row.delFlag === '0' ? '已激活' : '已隐藏';
                            return h('Tag', {
                                props: {
                                    type: 'dot',
                                    color: color
                                }
                            }, text);
                        }
                    },
                    {
                        title: '操作',
                        width: 220,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editLeague(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: this.leagueData[params.index].delFlag === '0' ? 'warning' : 'info'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.changeLeagueStatus(params.index);
                                        }
                                    }
                                }, this.leagueData[params.index].delFlag === '0' ? '隐藏' : '激活')
                                /* h('Poptip', {
                                    props: {
                                        title: "确认删除？",
                                        confirm: true,
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeLeague(params.index)
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作')
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')]), */

                            ]);
                        }
                    }
                ],
                teamColumns: [
                    {
                        title: '球队名称',
                        align: 'center',
                        key: 'teamName',
                        editable: true
                    },
                    {
                        title: '球队图标',
                        width: 85,
                        align: 'center',
                        render: (h, params) => {
                            return h('Avatar', {
                                attrs: {
                                    'src': this.teamData[params.index].teamIcon,
                                    'icon': 'person'
                                }
                            });
                        }
                    },
                    {
                        title: '操作',
                        width: 200,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editTeam(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeTeam(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')])

                            ]);
                        }
                    }
                ],
                leagueInfo: {
                    id: '',
                    leagueName: '',
                    delFlag: '',
                    leagueIcon: ''
                },
                teamInfo: {
                    id: '',
                    teamName: '',
                    teamIcon: ''
                },
                leagueData: [],
                teamData: []
            };
        },
        methods: {
            handleLeaguePage (leaguePageNum) {
                this.leaguePageNum = leaguePageNum;
                axios.post('api/fk/admin/league/getAllLeagueByPage', {
                    leaguePageNum: this.leaguePageNum,
                    leaguePageSize: this.leaguePageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.leagueData = res.data.body;
                        this.leagueTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            handleLeaguePageSize (leaguePageSize) {
                this.leaguePageSize = leaguePageSize;
                axios.post('api/fk/admin/league/getAllLeagueByPage', {
                    leaguePageNum: this.leaguePageNum,
                    leaguePageSize: this.leaguePageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.leagueData = res.data.body;
                        this.leagueTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            handleTeamPage (teamPageNum) {
                this.teamPageNum = teamPageNum;
                axios.post('api/fk/admin/team/getAllTeamByPage', {
                    teamPageNum: this.teamPageNum,
                    teamPageSize: this.teamPageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.teamData = res.data.body;
                        this.teamTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            handleTeamPageSize (teamPageSize) {
                this.teamPageSize = teamPageSize;
                axios.post('api/fk/admin/team/getAllTeamByPage', {
                    teamPageNum: this.teamPageNum,
                    teamPageSize: this.teamPageSize
                }).then((res) => {
                    if (res.data.status === 200) {
                        this.teamData = res.data.body;
                        this.teamTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            addLeague () {
                this.leagueInfo = {
                    id: '',
                    leagueName: '',
                    leagueIcon: '',
                    delFlag: '0'
                };
                this.$refs.uploadLeagueIcon.clearFiles();
                this.leagueModel = true;
            },
            addTeam () {
                this.teamInfo = {
                    id: '',
                    teamName: '',
                    teamIcon: ''
                };
                this.$refs.uploadTeamIcon.clearFiles();
                this.teamModel = true;
            },
            removeLeague (index) {
                axios.post('api/fk/admin/league/deleteLeague', this.leagueData[index]).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功!');
                        setTimeout(() => {
                            this.$router.go(0);
                        }, 500);
                    }
                });
            },
            removeTeam (index) {
                axios.post('api/fk/admin/team/deleteTeam', this.teamData[index]).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功!');
                        this.teamData.splice(index, 1);
                    }
                });
            },
            editLeague (index) {
                this.leagueInfo = {
                    id: this.leagueData[index].id,
                    leagueName: this.leagueData[index].leagueName,
                    leagueIcon: this.leagueData[index].leagueIcon,
                    delFlag: this.leagueData[index].delFlag
                };
                this.$refs.uploadLeagueIcon.clearFiles();
                this.leagueModel = true;
            },
            editTeam (index) {
                this.teamInfo = {
                    id: this.teamData[index].id,
                    teamName: this.teamData[index].teamName,
                    teamIcon: this.teamData[index].teamIcon
                };
                this.$refs.uploadTeamIcon.clearFiles();
                this.teamModel = true;
            },
            leagueInfoOk () {
                let leagueParam = {
                    leaguePageNum: this.leaguePageNum,
                    leaguePageSize: this.leaguePageSize
                };
                if (this.leagueInfo.id == '') {
                    axios.post('api/fk/admin/league/addLeague', this.leagueInfo).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('添加成功!');
                            this.leagueModel = false;
                            this.getLeague(leagueParam);
                            /* setTimeout(() => {
                                this.$router.go(0)
                            }, 500); */
                        }
                    });
                } else {
                    axios.post('api/fk/admin/league/updateLeague', this.leagueInfo).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('修改成功!');
                            this.leagueModel = false;
                            this.getLeague(leagueParam);
                            /* setTimeout(() => {
                                this.$router.go(0)
                            }, 500); */
                        }
                    });
                }
            },
            teamInfoOk () {
                let teamParam = {
                    teamPageNum: this.teamPageNum,
                    teamPageSize: this.teamPageSize
                };
                if (this.teamInfo.id === '') {
                    axios.post('api/fk/admin/team/addTeam', this.teamInfo).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('添加成功!');
                            this.teamModel = false;
                            this.getTeam(teamParam);
                            /* setTimeout(() => {
                                this.$router.go(0)
                            }, 500); */
                        }
                    });
                } else {
                    axios.post('api/fk/admin/team/updateTeam', this.teamInfo).then((res) => {
                        if (res.data.status === 200) {
                            this.$Message.success('修改成功!');
                            this.teamModel = false;
                            this.getTeam(teamParam);
                            /* setTimeout(() => {
                                this.$router.go(0)
                            }, 500); */
                        }
                    });
                }
            },
            infoCancel () {
                this.$Message.info('你没有进行任何操作');
            },
            removeLeagueIconFromUploadList (file) {
                this.leagueInfo.leagueIcon = '';
            },
            removeTeamIconFromUploadList (file) {
                this.teamInfo.teamIcon = '';
            },
            uploadMaxSize (file) {
                this.$Notice.warning({
                    title: '超出文件大小限制',
                    desc: '文件太大，不能超过 2M。'
                });
            },
            uploadFormatError (file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '文件格式不正确，请选择图片文件。'
                });
            },
            uploadLeagueIconSuccess (event, file) {
                this.leagueInfo.leagueIcon = event.body;
                this.$Notice.success({
                    title: '文件上传成功'
                });
            },
            uploadTeamIconSuccess (event, file) {
                this.teamInfo.teamIcon = event.body;
                this.$Notice.success({
                    title: '文件上传成功'
                });
            },
            uploadError (event, file) {
                console.log('uploadFail:' + event);
                this.$Notice.error({
                    title: '文件上传失败'
                });
            },
            beforeUpload (file) {
                const check = (this.$refs.uploadTeamIcon.fileList.length < 1) && (this.$refs.uploadLeagueIcon.fileList.length < 1);
                if (!check) {
                    this.$Notice.warning({
                        title: '最多只能上传 1 张图片。'
                    });
                }
                return check;
            },
            changeLeagueStatus (index) {
                let leagueParam = {
                    leaguePageNum: this.leaguePageNum,
                    leaguePageSize: this.leaguePageSize
                };
                this.leagueInfo = {
                    id: this.leagueData[index].id,
                    leagueName: this.leagueData[index].leagueName,
                    leagueIcon: this.leagueData[index].leagueIcon,
                    delFlag: this.leagueData[index].delFlag === '0' ? '1' : '0'
                };
                axios.post('api/fk/admin/league/updateLeague', this.leagueInfo).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('修改成功!');
                        this.getLeague(leagueParam);
                    }
                });
            },
            getLeague (param) {
                axios.post('api/fk/admin/league/getAllLeagueByPage', param).then((res) => {
                    if (res.data.status === 200) {
                        this.leagueData = res.data.body;
                        this.leagueTotalNum = res.data.pageTotalNum;
                    }
                });
            },
            getTeam (param) {
                axios.post('api/fk/admin/team/getAllTeamByPage', param).then((res) => {
                    if (res.data.status === 200) {
                        this.teamData = res.data.body;
                        this.teamTotalNum = res.data.pageTotalNum;
                    }
                });
            }
        },
        mounted () {
            let leagueParam = {
                leaguePageNum: this.leaguePageNum,
                leaguePageSize: this.leaguePageSize
            };
            this.getLeague(leagueParam);
            let teamParam = {
                teamPageNum: this.teamPageNum,
                teamPageSize: this.teamPageSize
            };
            this.getTeam(teamParam);
        }
    };
</script>
