<style lang="less">
    @import './login.less';
</style>

<template>
    <div class="login" @keydown.enter="handleSubmit">
        <div class="login-con">
            <Card :bordered="false">
                <p slot="title">
                    <Icon type="log-in"></Icon>
                    欢迎登录
                </p>
                <div class="form-con">
                    <Form ref="loginForm" :model="form" :rules="rules">
                        <FormItem prop="userName">
                            <Input v-model="form.userName" placeholder="请输入用户名">
                            <span slot="prepend">
                                    <Icon :size="16" type="person"></Icon>
                                </span>
                            </Input>
                        </FormItem>
                        <FormItem prop="password">
                            <Input type="password" v-model="form.password" placeholder="请输入密码">
                            <span slot="prepend">
                                    <Icon :size="14" type="locked"></Icon>
                                </span>
                            </Input>
                        </FormItem>
                        <FormItem>
                            <Button @click="handleSubmit" type="primary" long>登录</Button>
                        </FormItem>
                    </Form>
                    <a><p class="login-tip" @click="register">没有账号？赶紧注册！</p></a>
                </div>
            </Card>
        </div>
    </div>
</template>

<script>
    import Cookies from 'js-cookie';
    import axios from 'axios';

    export default {
        data () {
            return {
                form: {
                    userName: '',
                    password: ''
                },
                rules: {
                    userName: [
                        {required: true, message: '账号不能为空', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '密码不能为空', trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            handleSubmit () {
                this.$refs.loginForm.validate((valid) => {
                    if (valid) {
                        this.$store.commit('setAvator', 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3448484253,3685836170&fm=27&gp=0.jpg');
                        axios.post('api/adminLogin', {
                            email: this.form.userName,
                            password: this.form.password
                        }).then((res) => {
                            if (res.data.status === 200) {
                                Cookies.set('user', this.form.userName);
                                Cookies.set('password', this.form.password);
                                console.log(res.data);
                                if (res.data.body.userRole === '0') {
                                    Cookies.set('access', 0);
                                } else if (res.data.body.userRole === '1') {
                                    Cookies.set('access', 1);
                                }
                                this.$router.push({
                                    name: 'home_index'
                                });
                            } else {
                                this.form.userName = '';
                                this.form.password = '';
                                this.$Notice.error({
                                    title: '错误',
                                    desc: '帐号或者密码错误',
                                    duration: 3
                                });
                            }
                        });
                    }
                });
            },
            register () {
                console.log('还没写注册功能');
            }
        }
    };
</script>

<style>

</style>
