<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>足球王国</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/api/css/aui/aui.css"/>
    <link rel="stylesheet" type="text/css" href="/api/css/aui/aui-pull-refresh.css"/>
    <link rel="stylesheet" type="text/css" href="/api/css/watchLive.css"/>

    <script type="text/javascript" src="/api/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/api/js/aui/aui-tab.js"></script>
    <script type="text/javascript" src="/api/js/aui/aui-toast.js"></script>
    <script type="text/javascript" src="/api/js/aui/aui-search-self.js"></script>
    <script type="text/javascript" src="/api/js/aui/aui-dialog.js"></script>
    <script type="text/javascript" src="/api/js/aui/aui-pull-refresh.js"></script>
    <script type="text/javascript" src="/api/js/aui/template-web.js"></script>

    <link href="/api/VideoJs-M3U8/video-js/video-js.css" rel="stylesheet">
    <script src="/api/VideoJs-M3U8/video-js/video.js"></script>
    <script src="/api/VideoJs-M3U8/video-js/videojs-contrib-hls.min.js"></script>
    <script>
        videojs.options.flash.swf = "/api/VideoJs-M3U8/video-js/video-js.swf"
    </script>
</head>
<body>
<!--<div class="aui-row video-head">
    <div class="aui-col-xs-1">
        &nbsp;
    </div>
    <div class="aui-col-xs-3">
        <image th:src="@{${session.live.mainTeam.teamIcon}}"
               style="width: 70%;height: 70%;margin-left: auto;margin-right: auto"></image>
        <p th:text="${session.live.mainTeam.teamName}"></p>
    </div>
    <div class="aui-col-xs-4">
        &nbsp;
    </div>
    <div class="aui-col-xs-3">
        <image th:src="@{${session.live.visiterTeam.teamIcon}}"
               style="width: 70%;height: 70%;margin-left: auto;margin-right: auto"></image>
        <p th:text="${session.live.visiterTeam.teamName}"></p>
    </div>

</div>-->
<!--<video width="100%" height="100%" onplay="begin_playing();"
       controls="controls" poster="/api/img/fb_live_bg.png"
       x-webkit-airplay="true" x5-video-player-fullscreen="true"
       preload="auto" playsinline="true" webkit-playsinline
       x5-video-player-typ="h5">
    <source type="application/x-mpegURL"
            th:src="@{${session.liveUrl}}">
</video>-->
<div class="aui-tips" style="float: right;background-color: rgba(0,0,0,0);padding-left: 0;padding-right: 5px;z-index: 999999" id="adNotFull">
    <div style="margin-left: auto;">[[${session.live.live.ad}]]</div>
</div>
<video id="live-stream" class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered"
       preload="auto" autoplay controls
       poster="/api/img/fb_live_bg.png"
       x5-video-player-fullscreen="false"
       data-setup='{"example_option":true}'>
    <source th:src="@{${session.liveUrl}}"
            type="application/x-mpegURL">
</video>
<div class="aui-mask" id="mask"></div>
<div class="aui-tab tab" id="tab">
    <div class="aui-tab-item aui-active" style="margin-left: 20px">简介</div>
    <div class="aui-tab-item" style="margin-right: 20px">评论</div>
</div>

<div id="introduction" class="aui-content">
    <p class="introduction-title">[[${session.live.live.liveName}]]</p>
    <div th:if="${#strings.isEmpty(session.live.live.remarks)}" class="no-comment">这 场 比 赛 暂 时 还 没 有 简 介</div>
    <pre class="introduction-text">[[${session.live.live.remarks}]]</pre>

</div>
<div class="aui-row comment comment-head">
    <div class="icon-img aui-col-xs-2 comment-headx">
        <img src="/api/img/books-stack-of-three.png">
    </div>
    <div class="aui-col-xs-3 comment-font comment-headx">
        <span>刷新评论</span>
    </div>
    <div class="comment-radio aui-col-xs-5">
        <input class="aui-radio radio" type="radio" value="early" name="radio" checked> <label
            class="radio-label">最早</label>
        <input class="aui-radio radio" type="radio" value="newest" name="radio"> <label class="radio-label">最新</label>
    </div>
</div>
<div id="comment" class="aui-content comment aui-refresh-content">
    <section class="aui-chat" th:fragment="allComments" id="allComments">
        <div th:if="${#lists.size(comments)==0}" class="no-comment">暂时还没有评论，快来抢沙发吧！</div>
        <tr th:each="comment : ${comments}">
            <div th:class="${comment.senderId==session.openid}?'aui-chat-item aui-chat-right':'aui-chat-item aui-chat-left'">
                <div class="aui-chat-media">
                    <img th:src="@{${comment.senderHead}}"/>
                </div>
                <div class="aui-chat-inner">
                    <div class="aui-chat-name"><span class="aui-label aui-label-primary"
                                                     th:text="${comment.senderId==session.openid?'我':comment.senderName}"></span>
                        [[${#dates.format(comment.createDate.getTime(), 'MM-dd hh:mm')}]]
                    </div>
                    <div class="aui-chat-content">
                        <div class="aui-chat-arrow"></div>
                        [[${comment.content}]]
                    </div>
                </div>
            </div>
        </tr>
    </section>
</div>
<div class="aui-searchbar comment-input-bottom comment" id="search">
    <div class="aui-searchbar-input aui-border-radius">
        <i class="aui-iconfont aui-icon-comment"></i>
        <form action="javascript:doSearch('1');">
            <input placeholder="请输入评论内容" type="text" onkeydown="if(event.keyCode==13){return false;}" id="search-input">
        </form>
        <div class="aui-searchbar-clear-btn">
            <i class="aui-iconfont aui-icon-close"></i>
        </div>
    </div>
    <div class="aui-searchbar-btn" tapmode id="searchButton">取消</div>
</div>

</body>

<script th:inline="javascript">
    live = [[${session.live.live}]]
</script>

<script th:inline="javascript">
    adContent = [[${session.live.live.ad}]]
</script>

<script th:inline="javascript">
    mainTeam = [[${session.live.mainTeam}]]
</script>

<script th:inline="javascript">
    visiterTeam = [[${session.live.visiterTeam}]]
</script>

<script th:inline="javascript">
    openid = [[${session.openid}]]
</script>

<script src="/api/js/watchLive.js"></script>
</html>
