<style lang="less">
    @import '../../../styles/common.less';
    @import '../components/table.less';
</style>

<template>
    <div>
        <Row class="margin-top-10">
            <Col span="23" style="margin: 25px">
                <Card>
                    <p slot="title">
                        积分榜
                    </p>
                    <Row>
                        <span>赛季:</span>
                        <Select v-model="searchCondition.rankingTime" clearable style="width:120px;">
                            <Option v-for="item in AllTimes" :value="item.value" :key="item.value">{{ item.value }}
                            </Option>
                        </Select>

                        <span class="margin-left-15"> 所属联赛:</span>
                        <Select v-model="searchCondition.leagueId" style="width:120px;" clearable>
                            <Option v-for="item in AllLeague" :value="item.id" :key="item.id">{{ item.leagueName }}
                            </Option>
                        </Select>

                        <span class="margin-left-15">比赛种类:</span>
                        <Input v-model="searchCondition.kind" placeholder="请输入比赛类型" clearable
                               style="width: 120px"></Input>
                        <Button type="primary" style="width: 60px" class="margin-left-15" @click="searchByCondition">
                            搜索
                        </Button>
                        <Button type="ghost" style="width: 60px" @click="resetSearchCondition">重置</Button>
                    </Row>
                    <Row class="margin-top-10">
                        <can-edit-table v-model="AllRankingData" :hover-show="true"
                                        :columns-list="AllRankingColumns">
                        </can-edit-table>
                        <Button type="primary" class="margin-top-10" icon="plus" @click="addRanking">添加</Button>
                        <Page :total="rankingTotalNum" :current="searchCondition.rankingPageNum"
                              :page-size="searchCondition.rankingPageSize"
                              @on-change="handleRankingPage"
                              @on-page-size-change='handleRankingPageSize' show-sizer style="float: right"
                              class="margin-top-10"></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
        <Modal
                title="积分记录"
                v-model="rangkingModel"
                :mask-closable="false"
                :loading="loading"
                @on-ok="rankingInfoOk('RankingInfoForm')"
                @on-cancel="rankingInfoCancel">
            <Form ref="RankingInfoForm" :model="RankingInfoForm" :rules="RankingRuleCustom" :label-width="80">
                <Row>
                    <Col span="8">
                        <FormItem label="所属联赛" prop="leagueId">
                            <Select v-model="RankingInfoForm.leagueId" filterable>
                                <Option v-for="item in AllLeague" :value="item.id" :key="item.id">{{ item.leagueName }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="球队" prop="teamId">
                            <Select v-model="RankingInfoForm.teamId" filterable>
                                <Option v-for="item in AllTeam" :value="item.id" :key="item.id">{{ item.teamName }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="赛季" prop="rankingTime">
                            <Select v-model="RankingInfoForm.rankingTime" filterable>
                                <Option v-for="item in AllTimes" :value="item.value" :key="item.value">{{ item.value }}
                                </Option>
                            </Select>
                        </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="8">
                        <FormItem label="胜利场数" prop="winTimes">
                            <InputNumber :max="666" :min="0" v-model="RankingInfoForm.winTimes"></InputNumber>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="失败场数" prop="failTimes">
                            <InputNumber :max="666" :min="0" v-model="RankingInfoForm.failTimes"></InputNumber>
                        </FormItem>
                    </Col>
                    <Col span="8">
                        <FormItem label="打平场数" prop="tieTimes">
                            <InputNumber :max="666" :min="0" v-model="RankingInfoForm.tieTimes"></InputNumber>
                        </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="12">
                        <FormItem label="比赛种类" prop="kind">
                            <Input v-model="RankingInfoForm.kind" placeholder="（如：小组赛，第几轮）"></Input>
                        </FormItem>
                    </Col>
                    <Col span="12">
                        <FormItem label="场次" prop="session">
                            <Input v-model="RankingInfoForm.session" placeholder="请输入场次"></Input>
                        </FormItem>
                    </Col>
                </Row>
                <Row>
                    <Col span="12">
                        <FormItem label="进/失球" prop="scoreOrLost">
                            <Input v-model="RankingInfoForm.scoreOrLost" placeholder="请输入进/失球"></Input>
                        </FormItem>
                    </Col>
                    <Col span="12">
                        <FormItem label="积分" prop="ranking">
                            <InputNumber :max="666" :min="0" v-model="RankingInfoForm.ranking"></InputNumber>
                        </FormItem>
                    </Col>
                </Row>
            </Form>
        </Modal>
    </div>
</template>

<script>
    import canEditTable from '../components/canEditTable.vue';
    import axios from 'axios';

    export default {
        name: 'ranking',
        components: {
            canEditTable
        },
        data () {
            return {
                RankingInfoForm: {
                    id: '',
                    teamId: '',
                    rankingTime: '',
                    kind: '',
                    session: '',
                    winTimes: 0,
                    failTimes: 0,
                    tieTimes: 0,
                    scoreOrLost: '',
                    ranking: 0,
                    leagueId: ''
                },
                RankingRuleCustom: {
                    teamId: [
                        {required: true, message: '联赛不能为空', trigger: 'change'}
                    ],
                    rankingTime: [
                        {required: true, message: '时间不能为空', trigger: 'change'}
                    ],
                    winTimes: [
                        {required: true, type: 'number', message: '胜利不能为空', trigger: 'change'}
                    ],
                    failTimes: [
                        {required: true, type: 'number', message: '失败不能为空', trigger: 'change'}
                    ],
                    tieTimes: [
                        {required: true, type: 'number', message: '打平不能为空', trigger: 'change'}
                    ],
                    scoreOrLost: [
                        {required: true, message: '进/失球不能为空', trigger: 'blur'}
                    ],
                    ranking: [
                        {required: true, type: 'number', message: '积分数不能为空', trigger: 'change'}
                    ],
                    leagueId: [
                        {required: true, message: '联赛不能为空', trigger: 'change'}
                    ]
                },
                loading: true,
                rangkingModel: false,
                AllRankingData: [],
                AllRankingColumns: [
                    {
                        title: '赛季',
                        align: 'center',
                        key: 'rankingTime'
                    },
                    {
                        title: '联赛',
                        align: 'center',
                        width: 130,
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.league.leagueIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.league.leagueName)
                            ]);
                        }
                    },
                    {
                        title: '比赛种类',
                        align: 'center',
                        key: 'kind'
                    },
                    {
                        title: '球队',
                        align: 'center',
                        width: 130,
                        render: (h, params) => {
                            return h('div', [
                                h('Avatar', {
                                    attrs: {
                                        'src': params.row.team.teamIcon,
                                        'icon': 'ios-football'
                                    }
                                }),
                                h('strong', params.row.team.teamName)
                            ]);
                        }
                    },
                    {
                        title: '积分',
                        align: 'center',
                        key: 'ranking'
                    },
                    {
                        title: '场次',
                        align: 'center',
                        key: 'session'
                    },
                    {
                        title: '胜场',
                        align: 'center',
                        key: 'winTimes'
                    },
                    {
                        title: '败场',
                        align: 'center',
                        key: 'failTimes'
                    },
                    {
                        title: '打平',
                        align: 'center',
                        key: 'tieTimes'
                    },
                    {
                        title: '进/失球',
                        align: 'center',
                        key: 'scoreOrLost'
                    },
                    {
                        title: '操作',
                        width: 200,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'success'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.editRanking(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Poptip', {
                                    props: {
                                        title: '确认删除？',
                                        confirm: true
                                    },
                                    on: {
                                        'on-ok': () => {
                                            this.removeRanking(params.index);
                                        },
                                        'on-cancel': () => {
                                            this.$Message.info('你没有做任何操作');
                                        }
                                    }
                                }, [
                                    h('Button', {
                                        props: {
                                            type: 'error'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        }
                                    }, '删除')])
                            ]);
                        }
                    }
                ],
                rankingTotalNum: 50,
                searchCondition: {
                    rankingPageNum: 1,
                    rankingPageSize: 10,
                    rankingTime: '',
                    leagueId: '',
                    kind: ''
                },
                AllTeam: [],
                AllLeague: [],
                AllTimes: [
                    {
                        value: '2017/18'
                    },
                    {
                        value: '2016/17'
                    },
                    {
                        value: '2015/16'
                    },
                    {
                        value: '2014/15'
                    },
                    {
                        value: '2013/14'
                    },
                    {
                        value: '2012/13'
                    },
                    {
                        value: '2011/12'
                    },
                    {
                        value: '2010/11'
                    },
                    {
                        value: '2009/10'
                    },
                    {
                        value: '2005/06'
                    },
                    {
                        value: '2001/02'
                    }
                ]
            };
        },
        methods: {
            searchByCondition () {
                this.searchCondition.rankingPageSize = 10;
                this.searchCondition.rankingPageNum = 1;
                this.axiosGetRankingByPageAndExample(this.searchCondition);
            },
            resetSearchCondition () {
                this.searchCondition.kind = '';
                this.searchCondition.rankingTime = '';
                this.searchCondition.leagueId = '';
            },
            addRanking () {
                this.$refs['RankingInfoForm'].resetFields();
                this.RankingInfoForm.id = '';
                this.rangkingModel = true;
            },
            editRanking (index) {
                this.RankingInfoForm = this.AllRankingData[index];
                this.rangkingModel = true;
            },
            removeRanking (index) {
                axios.post('api/fk/admin/ranking/deleteRanking', {id: this.AllRankingData[index].id}).then((res) => {
                    if (res.data.status === 200) {
                        this.$Message.success('删除成功!');
                        this.AllRankingData.splice(index, 1);
                    }
                });
            },
            rankingInfoOk (name) {
                let param = {
                    livePageNum: this.searchCondition.rankingPageNum,
                    livePageSize: this.searchCondition.rankingPageSize
                };
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        if (this.RankingInfoForm.id != '') {
                            axios.post('api/fk/admin/ranking/updateRanking', this.RankingInfoForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('更新成功!');
                                    this.rangkingModel = false;
                                    this.axiosGetRankingByPageAndExample(param);
                                }
                            });
                        } else {
                            axios.post('api/fk/admin/ranking/addRanking', this.RankingInfoForm).then((res) => {
                                if (res.data.status === 200) {
                                    this.$Message.success('添加成功!');
                                    this.rangkingModel = false;
                                    this.axiosGetRankingByPageAndExample(param);
                                }
                            });
                        }
                    } else {
                        this.$Message.error('保存积分记录失败!');
                        setTimeout(() => {
                            this.loading = false;
                            this.$nextTick(() => {
                                this.loading = true;
                            });
                        }, 2000);
                    }
                });
            },
            rankingInfoCancel () {
                this.$Message.info('你没有做任何操作!');
            },
            handleRankingPage () {
            },
            handleRankingPageSize () {
            },
            axiosGetRankingByPageAndExample (postData) {
                axios.post('api/fk/admin/ranking/getRankingByPageAndExample', postData).then((res) => {
                    if (res.data.status === 200) {
                        this.AllRankingData = res.data.body;
                        this.rankingTotalNum = res.data.pageTotalNum;
                    }
                });
            }
        },
        mounted () {
            const postData1 = {
                livePageNum: this.searchCondition.rankingPageNum,
                livePageSize: this.searchCondition.rankingPageSize
            };
            axios.post('api/fk/admin/team/getAllTeam').then((res) => {
                if (res.data.status === 200) {
                    this.AllTeam = res.data.body;
                }
            });
            axios.post('api/fk/admin/league/getAllLeagueNotDelete').then((res) => {
                if (res.data.status === 200) {
                    this.AllLeague = res.data.body;
                }
            });
            this.axiosGetRankingByPageAndExample(postData1);
        }
    };
</script>